/**
 * Greyd Theme Transform Feature Admin Styles
 * 
 * This style is loaded on admin screens only.
 *
 * @package Greyd
 */
#greyd-classic-converter {
	--wp-admin-color-white: #fff;
	--wp-admin-color-dark: #2D3337;
	--wp-admin-color-medium-darker: #6d6d6d;
	--wp-admin-color-medium: #767676;
	--wp-admin-color-light: #dddddd;
	--wp-admin-color-lightgrey: #e2e5e6;
	--wp-admin-color-red: #dc3232;
	--wp-admin-color-red-darker: #a00;

	--gap: min(2rem, 4vw);
	--padding: min(1rem, 2vw);
	--block-gap: 20px;
}


/**
 * Layout
 */
.converter-section {
	display: flex;
	margin: var(--gap) 0;
	gap: var(--gap);
	flex-wrap: wrap;
}

.converter-section--title {
	flex: 0 0 200px;
}

.converter-section--title h3 {
	margin: 0;
}

.converter-section--content {
	flex: 1 1 400px;
	display: flex;
	align-items: flex-start;
	gap: var(--gap);
}


/**
 * Card
 */
.converter-card {
	display: flex;
	flex-direction: column;
	flex: 1 1 200px;
	max-width: 300px;
	padding: var(--padding);
	gap: var(--padding);
	background-color: var(--wp-admin-color-white);
	border: 1px solid var(--wp-admin-color-lightgrey);
	border-radius: 4px;
}

.converter-card > * {
	margin: 0;
}

.converter-card hr {
	border: none;
	border-top: 1px solid var(--wp-admin-color-lightgrey);
}

.converter-card .greyd-chip-notice {
	align-self: flex-start;
}

/**
 * Button
 */
.converter-card .button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding: 0 14px;
	line-height: 2.71428571;
	font-size: 14px;
}

.converter-card .button.button-primary {
	background-color: var(--wp-admin-color-dark);
	border-color: var(--wp-admin-color-dark);
}

.converter-card .button.button-primary:hover,
.converter-card .button.button-primary:active
.converter-card .button.button-primary:focus {
	background-color: var(--wp-admin-color-medium-darker);
	border-color: var(--wp-admin-color-medium-darker);
}

.converter-card .button.button-primary:focus {
	box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--wp-admin-color-dark);
}

.converter-card .button .spinner,
.converter-card .button .dashicons {
	margin: 0 0 0 5px;
}

.converter-card .button.is-destructive {
	color: white;
	background-color: var(--wp-admin-color-red);
	border-color: var(--wp-admin-color-red);
}

.converter-card .button.is-destructive:hover,
.converter-card .button.is-destructive:active
.converter-card .button.is-destructive:focus {
	background-color: var(--wp-admin-color-red-darker);
	border-color: var(--wp-admin-color-red-darker);
}

.converter-card .button.is-destructive:focus {
	box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--wp-admin-color-red-darker);
}

/**
 * collapsable debug panel
 */
.greyd-debug-panel-toggle {
	color: var(--wp-admin-color-blue);
	text-decoration: underline;
	cursor: pointer;
}

.greyd-debug-panel-wrap {
	display: flex;
}

.greyd-debug-panel {
	background: var(--wp-admin-color-dark);
	color: var(--wp-admin-color-light);
	width: fit-content;
	max-height: 400px;
	max-width: 100%;
	padding: 15px;
	margin: 0px;
	font-size: 11px;
	line-height: 1;
	overflow: auto;
	box-sizing: border-box;
}

.greyd-debug-panel div {
	margin-left: 20px;
}

.greyd-debug-panel span {
	cursor: pointer;
}

.greyd-debug-panel span:hover {
	font-weight: bold;
}


/**
 * Info Box
 */
.greyd-chip-notice {
	color: #172b4d;
	padding: 8px 12px;
	border-radius: .3em;
	background: rgba(0, 0, 0, .05);
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 1em;
}

.greyd-chip-notice > .dashicons {
	margin: 0 .4em 0 0;
	font-size: 1.45em;
	height: 1em;
	width: 1em;
}

.greyd-chip-notice > div > b:first-child {
	display: block;
	margin-bottom: 4px
}

.greyd-chip-notice > div > p {
	margin: 0px;
}

/* blue styling  */
.greyd-chip-notice.blue,
.greyd-chip-notice.info {
	background: rgba(47, 128, 237, .2);
}

.greyd-chip-notice.blue > .dashicons,
.greyd-chip-notice.info > .dashicons {
	color: rgba(47, 128, 237, 1);
}

/* green styling  */
.greyd-chip-notice.green,
.greyd-chip-notice.success {
	background: rgba(39, 174, 96, .2);
}

.greyd-chip-notice.green > .dashicons,
.greyd-chip-notice.success > .dashicons {
	color: rgba(39, 174, 96, 1);
}

/* orange styling  */
.greyd-chip-notice.orange,
.greyd-chip-notice.warning {
	background: rgba(242, 153, 74, .2);
}

.greyd-chip-notice.orange > .dashicons,
.greyd-chip-notice.warning > .dashicons {
	color: #E1822E;
}

/* red styling  */
.greyd-chip-notice.red,
.greyd-chip-notice.alert,
.greyd-chip-notice.danger,
.greyd-chip-notice.error {
	background: rgba(235, 87, 87, .2);
}

.greyd-chip-notice.red > .dashicons,
.greyd-chip-notice.alert > .dashicons,
.greyd-chip-notice.danger > .dashicons,
.greyd-chip-notice.error > .dashicons {
	color: #EB5757;
}

/* purple styling  */
.greyd-chip-notice.new,
.greyd-chip-notice.purple {
	background: rgba(155, 81, 224, .2);
}

.greyd-chip-notice.new > .dashicons,
.greyd-chip-notice.purple > .dashicons {
	color: #9b51e0;
}

/* greyd styling  */
.greyd-chip-notice.greyd {
	background: linear-gradient(135deg, rgba(249, 221, 97, .4) 0%, rgba(242, 178, 90, .4) 100%);
}

.greyd-chip-notice.greyd > .dashicons {
	color: #f2b25a;
}

/* clear styling  */
.greyd-chip-notice.clear {
	color: inherit;
	padding: 0;
	background: transparent;
}

.greyd-chip-notice.clear > .dashicons {
	display: none;
}

/**
 * Snackbar
 */
.components-snackbar-list {
	position: fixed;
	bottom: var(--block-gap);
	left: 160px;
	margin-left: var(--block-gap);
	z-index: 999;
}

@media only screen and (max-width: 960px) {
	.components-snackbar-list {
		left: 36px;
	}
}

.components-snackbar {
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	backdrop-filter: blur(16px) saturate(180%);
	background: rgba(0,0,0,.85);
	border-radius: 2px;
	box-shadow: 0 0.7px 1px rgba(0,0,0,.1), 0 1.2px 1.7px -0.2px rgba(0,0,0,.1), 0 2.3px 3.3px -0.5px rgba(0,0,0,.1);
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	font-size: 13px;
	max-width: 600px;
	padding: 12px 20px;
	margin-top: 8px;
	pointer-events: auto;
	width: fit-content;
	opacity: 0;
}

.components-snackbar.is-active {
	opacity: 1;
	animation: components-snackbar-enter 0.15s ease-out;
}

/* animate in from bottom */
@keyframes components-snackbar-enter {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


.components-snackbar__content {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
	line-height: 1.4;
}

.components-snackbar__icon {
	margin-right: 12px;
}