/**
 * Blocks CSS for Greyd Button Blocks.
 * 
 * Contains general block styles. Is enqueued in the front- & backend.
 * This file does not get processed and is loaded *after* editor styles so it
 * will take precedence over editor-specific styles using the same selectors.
 */

 
/*   Greyd & Core Buttons
__________________________________
*/
:is(.wp-block-greyd-buttons.wp-block-greyd-buttons, .wp-block-buttons) {
	float: none; /* reset wp styling */
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	/* width: 100%; */
	margin-bottom: var(--BTNmargin);
	gap: var(--BTNmargin);
}
:is(.wp-block-greyd-buttons, .wp-block-buttons).aligncenter {
	justify-content: center;
}
:is(.wp-block-greyd-buttons, .wp-block-buttons).alignright {
	justify-content: flex-end;
}
:is(.wp-block-greyd-buttons, .wp-block-buttons) :is(a, button, .button, .link, .button.is-style-prim) {
	margin: 0;
}

/*  Greyd & Core Button and Link
	Still shared with Theme style.js and use processor
	todo: make own styles for other theme
__________________________________
*/