/**
 * Button reset
 */
.button,
.greyd_form button[type=submit],
.greyd_form input[type=submit] {
	appearance: none;
	border: 0;
	cursor: pointer;
	font: inherit;
}

/* svg icon */
.wp-element-button svg {
	fill: currentColor;
}

/**
 * Primary button
 * ____________________________________________________________________
 */
.button,
.greyd_form button[type=submit],
.greyd_form input[type=submit],
.wp-block-greyd-search .wp-block-greyd-search__button,
.wp-block-navigation[class*="is-style-button"] .wp-block-navigation-item .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-item[class*="is-style-button"] .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-item.is-style-button-fill.is-style-button-fill .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item.is-style-button-fill .wp-block-navigation-item__content {
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: all .2s ease;
	cursor: pointer;
	text-align: center;
	font-family: var(--wp--custom--greyd--button--typography--font-family);
	font-size: var(--wp--custom--greyd--button--typography--font-size);
	font-weight: var(--wp--custom--greyd--button--typography--font-weight);
	line-height: var(--wp--custom--greyd--button--typography--line-height);
	text-transform: var(--wp--custom--greyd--button--typography--text-transform);
	letter-spacing: var(--wp--custom--greyd--button--typography--letter-spacing);
	word-spacing: var(--wp--custom--greyd--button--typography--word-spacing);
	padding-top: var(--wp--custom--greyd--button--spacing--padding--top);
	padding-bottom: var(--wp--custom--greyd--button--spacing--padding--bottom);
	padding-left: var(--wp--custom--greyd--button--spacing--padding--left);
	padding-right: var(--wp--custom--greyd--button--spacing--padding--right);
	/* primary */
	color: var(--wp--custom--greyd--button--prim--color--text);
	background: var(--wp--custom--greyd--button--prim--color--background);
	border-radius: var(--wp--custom--greyd--button--prim--border--radius);
	border-width: var(--wp--custom--greyd--button--prim--border--width);
	border-style: var(--wp--custom--greyd--button--prim--border--style);
	border-color: var(--wp--custom--greyd--button--prim--border--color);
	box-shadow: var(--wp--custom--greyd--button--prim--shadow);
}
.wp-block-navigation[class*="is-style-button"] .wp-block-navigation-submenu .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu[class*="is-style-button"] .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-fill.is-style-button-fill .wp-block-navigation__submenu-icon svg {
	transition: stroke .2s ease;
	stroke: var(--wp--custom--greyd--button--prim--color--text);
}

.wp-block-navigation[class*="is-style-button"] .wp-block-navigation-item.open-on-click > .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-item.open-on-click[class*="is-style-button"] > .wp-block-navigation-item__content,
.wp-block-navigation[class*="is-style-button"] .wp-block-navigation-item.open-on-hover-click > .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-item.open-on-hover-click[class*="is-style-button"] > .wp-block-navigation-item__content,
.wp-block-navigation.open-on-hover-click[class*="is-style-button"] .wp-block-navigation-submenu > .wp-block-navigation-item__content,
.wp-block-navigation.open-on-hover-click .wp-block-navigation-submenu[class*="is-style-button"] > .wp-block-navigation-item__content {
	padding-top: var(--wp--custom--greyd--button--spacing--padding--top);
	padding-bottom: var(--wp--custom--greyd--button--spacing--padding--bottom);
	padding-left: var(--wp--custom--greyd--button--spacing--padding--left);
	padding-right: calc(var(--wp--custom--greyd--button--spacing--padding--right) + .85em);
}
.wp-block-navigation[class*="is-style-button"] .wp-block-navigation-item.open-on-click > .wp-block-navigation-item__content + .wp-block-navigation__submenu-icon,
.wp-block-navigation .wp-block-navigation-item.open-on-click[class*="is-style-button"] > .wp-block-navigation-item__content + .wp-block-navigation__submenu-icon,
.wp-block-navigation[class*="is-style-button"] .wp-block-navigation-item.open-on-hover-click > .wp-block-navigation__submenu-icon,
.wp-block-navigation .wp-block-navigation-item.open-on-hover-click[class*="is-style-button"] > .wp-block-navigation__submenu-icon,
.wp-block-navigation.open-on-hover-click[class*="is-style-button"] .wp-block-navigation-submenu > .wp-block-navigation__submenu-icon,
.wp-block-navigation.open-on-hover-click .wp-block-navigation-submenu[class*="is-style-button"] > .wp-block-navigation__submenu-icon {
	margin-left: calc(-.6em - var(--wp--custom--greyd--button--spacing--padding--right));
	padding-right: calc(.6em + var(--wp--custom--greyd--button--spacing--padding--right));
	background: none;
}

/**
 * Primary button: Hover & Focus
 */
.button.is-active,
.wp-block-greyd-buttons .button:hover,
.wp-block-greyd-buttons .button:focus-visible,
.greyd_form button[type=submit]:hover,
.greyd_form button[type=submit]:focus-visible,
.greyd_form input[type=submit]:hover,
.greyd_form input[type=submit]:focus-visible,
.greyd_form .button:hover,
.greyd_form .button:focus-visible,
.wp-block-greyd-search .wp-block-greyd-search__button:not(.has-background, .has-text-color):hover,
.wp-block-greyd-search .wp-block-greyd-search__button:not(.has-background, .has-text-color):focus-visible,
.wp-block-navigation[class*="is-style-button"] .wp-block-navigation-item .wp-block-navigation-item__content:hover,
.wp-block-navigation[class*="is-style-button"] .wp-block-navigation-item .wp-block-navigation-item__content:focus-visible,
.wp-block-navigation .wp-block-navigation-item[class*="is-style-button"] .wp-block-navigation-item__content:hover,
.wp-block-navigation .wp-block-navigation-item[class*="is-style-button"] .wp-block-navigation-item__content:focus-visible,
.wp-block-navigation .wp-block-navigation-item.is-style-button-fill.is-style-button-fill .wp-block-navigation-item__content:hover,
.wp-block-navigation .wp-block-navigation-item.is-style-button-fill.is-style-button-fill .wp-block-navigation-item__content:focus-visible,
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item.is-style-button-fill .wp-block-navigation-item__content:hover,
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item.is-style-button-fill .wp-block-navigation-item__content:focus-visible {
	opacity: 1;
	text-decoration: none;
	color: var(--wp--custom--greyd--button--prim--hover--color--text);
	background: var(--wp--custom--greyd--button--prim--hover--color--background);
	border-width: var(--wp--custom--greyd--button--prim--hover--border--width);
	border-style: var(--wp--custom--greyd--button--prim--hover--border--style);
	border-color: var(--wp--custom--greyd--button--prim--hover--border--color);
	box-shadow: var(--wp--custom--greyd--button--prim--hover--shadow);
}

.wp-block-navigation[class*="is-style-button"] .wp-block-navigation-submenu .wp-block-navigation-item__content:hover + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation[class*="is-style-button"] .wp-block-navigation-submenu .wp-block-navigation-item__content:focus-visible + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu[class*="is-style-button"] .wp-block-navigation-item__content:hover + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu[class*="is-style-button"] .wp-block-navigation-item__content:focus-visible + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-fill.is-style-button-fill .wp-block-navigation-item__content:hover + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-fill.is-style-button-fill .wp-block-navigation-item__content:focus-visible + .wp-block-navigation__submenu-icon svg {
	stroke: var(--wp--custom--greyd--button--prim--hover--color--text);
}


/**
 * Secondary button (is-style-outline)
 * ____________________________________________________________________
 */
.button.is-style-sec,
.wp-block-navigation.is-style-button-outline .wp-block-navigation-item .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-item.is-style-button-outline.is-style-button-outline .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item.is-style-button-outline .wp-block-navigation-item__content {
	color: var(--wp--custom--greyd--button--sec--color--text);
	background: var(--wp--custom--greyd--button--sec--color--background);
	border-radius: var(--wp--custom--greyd--button--sec--border--radius);
	border-width: var(--wp--custom--greyd--button--sec--border--width);
	border-style: var(--wp--custom--greyd--button--sec--border--style);
	border-color: var(--wp--custom--greyd--button--sec--border--color);
	box-shadow: var(--wp--custom--greyd--button--sec--shadow);
}
.wp-block-navigation.is-style-button-outline .wp-block-navigation-submenu .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-outline .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-outline.is-style-button-outline .wp-block-navigation__submenu-icon svg {
	stroke: var(--wp--custom--greyd--button--sec--color--text);
}

/**
 * Secondary button: Hover & Focus
 */
.button.is-style-sec:hover,
.button.is-style-sec:focus-visible,
.button.is-style-sec.is-active,
.wp-block-navigation.is-style-button-outline .wp-block-navigation-item .wp-block-navigation-item__content:hover,
.wp-block-navigation.is-style-button-outline .wp-block-navigation-item .wp-block-navigation-item__content:focus-visible,
.wp-block-navigation .wp-block-navigation-item.is-style-button-outline.is-style-button-outline .wp-block-navigation-item__content:hover,
.wp-block-navigation .wp-block-navigation-item.is-style-button-outline.is-style-button-outline .wp-block-navigation-item__content:focus-visible,
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item.is-style-button-outline .wp-block-navigation-item__content:hover,
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item.is-style-button-outline .wp-block-navigation-item__content:focus-visible {
	color: var(--wp--custom--greyd--button--sec--hover--color--text);
	background: var(--wp--custom--greyd--button--sec--hover--color--background);
	border-width: var(--wp--custom--greyd--button--sec--hover--border--width);
	border-style: var(--wp--custom--greyd--button--sec--hover--border--style);
	border-color: var(--wp--custom--greyd--button--sec--hover--border--color);
	box-shadow: var(--wp--custom--greyd--button--sec--hover--shadow);
}

.wp-block-navigation.is-style-button-outline .wp-block-navigation-submenu .wp-block-navigation-item__content:hover + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation.is-style-button-outline .wp-block-navigation-submenu .wp-block-navigation-item__content:focus-visible + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-outline .wp-block-navigation-item__content:hover + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-outline .wp-block-navigation-item__content:focus-visible + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-outline.is-style-button-outline .wp-block-navigation-item__content:hover + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-outline.is-style-button-outline .wp-block-navigation-item__content:focus-visible + .wp-block-navigation__submenu-icon svg {
	stroke: var(--wp--custom--greyd--button--sec--hover--color--text);
}

/* @since 1.14.0 overwrite padding from core styles */
.wp-block-button .wp-block-button__link.is-style-outline,
.wp-block-button.is-style-outline > .wp-block-button__link {
	padding-top: var(--wp--custom--greyd--button--spacing--padding--top);
	padding-bottom: var(--wp--custom--greyd--button--spacing--padding--bottom);
	padding-left: var(--wp--custom--greyd--button--spacing--padding--left);
	padding-right: var(--wp--custom--greyd--button--spacing--padding--right);
}

/**
 * Tertiary button (is-style-alternate)
 * ____________________________________________________________________
 */
.is-style-alternate.button,
.is-style-alternate.wp-element-button,
.is-style-alternate.wp-element-button,
.is-style-alternate.wp-block-button .wp-element-button.wp-block-button__link,
.button.is-style-trd,
.wp-block-navigation.is-style-button-alternate .wp-block-navigation-item .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-item.is-style-button-alternate.is-style-button-alternate .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item.is-style-button-alternate .wp-block-navigation-item__content {
	color: var(--wp--custom--greyd--button--trd--color--text);
	background: var(--wp--custom--greyd--button--trd--color--background);
	border-radius: var(--wp--custom--greyd--button--trd--border--radius);
	border-width: var(--wp--custom--greyd--button--trd--border--width);
	border-style: var(--wp--custom--greyd--button--trd--border--style);
	border-color: var(--wp--custom--greyd--button--trd--border--color);
	box-shadow: var(--wp--custom--greyd--button--trd--shadow);
}
.wp-block-navigation.is-style-button-alternate .wp-block-navigation-submenu .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-alternate .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-alternate.is-style-button-alternate .wp-block-navigation__submenu-icon svg {
	stroke: var(--wp--custom--greyd--button--trd--color--text);
}

/**
 * Tertiary button: Hover & Focus
 */
.is-style-alternate.button:hover,
.is-style-alternate.wp-block-button.wp-element-button:not(.has-background, .has-text-color):hover,
.is-style-alternate.wp-block-button.wp-element-button:not(.has-background, .has-text-color):focus-visible,
.is-style-alternate.wp-block-button .wp-element-button:not(.has-background, .has-text-color):hover,
.is-style-alternate.wp-block-button .wp-element-button:not(.has-background, .has-text-color):focus-visible,
.button.is-style-trd:hover,
.button.is-style-trd:focus-visible,
.button.is-style-trd.is-active,
.wp-block-navigation.is-style-button-alternate .wp-block-navigation-item .wp-block-navigation-item__content:hover,
.wp-block-navigation.is-style-button-alternate .wp-block-navigation-item .wp-block-navigation-item__content:focus-visible,
.wp-block-navigation .wp-block-navigation-item.is-style-button-alternate.is-style-button-alternate .wp-block-navigation-item__content:hover,
.wp-block-navigation .wp-block-navigation-item.is-style-button-alternate.is-style-button-alternate .wp-block-navigation-item__content:focus-visible,
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item.is-style-button-alternate .wp-block-navigation-item__content:hover,
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item.is-style-button-alternate .wp-block-navigation-item__content:focus-visible {
	color: var(--wp--custom--greyd--button--trd--hover--color--text);
	background: var(--wp--custom--greyd--button--trd--hover--color--background);
	border-width: var(--wp--custom--greyd--button--trd--hover--border--width);
	border-style: var(--wp--custom--greyd--button--trd--hover--border--style);
	border-color: var(--wp--custom--greyd--button--trd--hover--border--color);
	box-shadow: var(--wp--custom--greyd--button--trd--hover--shadow);
}

.wp-block-navigation.is-style-button-alternate .wp-block-navigation-submenu .wp-block-navigation-item__content:hover + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation.is-style-button-alternate .wp-block-navigation-submenu .wp-block-navigation-item__content:focus-visible + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-alternate .wp-block-navigation-item__content:hover + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-alternate .wp-block-navigation-item__content:focus-visible + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-alternate.is-style-button-alternate .wp-block-navigation-item__content:hover + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-alternate.is-style-button-alternate .wp-block-navigation-item__content:focus-visible + .wp-block-navigation__submenu-icon svg {
	stroke: var(--wp--custom--greyd--button--trd--hover--color--text);
}

/**
 * Button style: Chip
 * ____________________________________________________________________
 */
.wp-block-navigation.is-style-button-chips .wp-block-navigation-item .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-item.is-style-button-chips .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item.is-style-button-chips .wp-block-navigation-item__content {
	color: var(--wp--preset--color--foreground);
	background: var(--wp--preset--color--background);
	border: 1px solid var(--wp--preset--color--background);
	border-radius: 100vw;
	padding: calc( 0.5vw + 0.3rem ) calc( 1vw + 0.36rem );
	box-shadow: none;
	text-decoration: none;
}
.wp-block-navigation.is-style-button-chips .wp-block-navigation-submenu .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-chips .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-button-chips.is-style-button-chips .wp-block-navigation__submenu-icon svg {
	stroke: var(--wp--preset--color--foreground);
}

.wp-block-navigation.is-style-button-chips .wp-block-navigation-item.open-on-click > .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-item.open-on-click.is-style-button-chips > .wp-block-navigation-item__content {
	padding-right: calc(1vw + 0.36rem + .85em);
}
.wp-block-navigation.is-style-button-chips .wp-block-navigation-item.open-on-click > .wp-block-navigation-item__content + .wp-block-navigation__submenu-icon,
.wp-block-navigation .wp-block-navigation-item.open-on-click.is-style-button-chips > .wp-block-navigation-item__content + .wp-block-navigation__submenu-icon {
	margin-left: calc(-.6em - 1vw - 0.36rem);
}

.wp-block-navigation.is-style-button-chips .wp-block-navigation-item .wp-block-navigation-item__content:hover,
.wp-block-navigation.is-style-button-chips .wp-block-navigation-item .wp-block-navigation-item__content:focus-visible,
.wp-block-navigation .wp-block-navigation-item.is-style-button-chips .wp-block-navigation-item__content:hover,
.wp-block-navigation .wp-block-navigation-item.is-style-button-chips .wp-block-navigation-item__content:focus-visible,
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item.is-style-button-chips .wp-block-navigation-item__content:hover,
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item.is-style-button-chips .wp-block-navigation-item__content:focus-visible {
	color: var(--wp--preset--color--background);
	background: var(--wp--preset--color--foreground);
	border: 1px solid var(--wp--preset--color--foreground);
	/* border-radius: 100vw; */
	box-shadow: none;
	text-decoration: none;
}

.wp-block-navigation.is-style-chips .wp-block-navigation-submenu .wp-block-navigation-item__content:hover + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation.is-style-chips .wp-block-navigation-submenu .wp-block-navigation-item__content:focus-visible + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-chips .wp-block-navigation-item__content:hover + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-chips .wp-block-navigation-item__content:focus-visible + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-chips.is-style-chips .wp-block-navigation-item__content:hover + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-chips.is-style-chips .wp-block-navigation-item__content:focus-visible + .wp-block-navigation__submenu-icon svg {
	stroke: var(--wp--preset--color--background);
}

/**
 * Button style: Clear
 * ____________________________________________________________________
 */
.is-style-clear.button,
.is-style-clear.wp-element-button,
.is-style-clear.wp-element-button,
.is-style-clear.wp-block-button .wp-element-button,
.wp-block-navigation.is-style-clear .wp-block-navigation-item .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-item.is-style-clear .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item.is-style-clear .wp-block-navigation-item__content {
	color: inherit;
	background: none;
	border-radius: 0;
	border: none;
	box-shadow: none;
	text-decoration: none;
}
.wp-block-navigation.is-style-clear .wp-block-navigation-submenu .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-clear .wp-block-navigation__submenu-icon svg
.wp-block-navigation .wp-block-navigation-submenu.is-style-clear.is-style-clear .wp-block-navigation__submenu-icon svg {
	stroke: currentColor;
}

.is-style-clear.button:hover,
.is-style-clear.wp-block-button.wp-element-button:not(.has-background, .has-text-color):hover,
.is-style-clear.wp-block-button.wp-element-button:not(.has-background, .has-text-color):focus-visible,
.is-style-clear.wp-block-button .wp-element-button:not(.has-background, .has-text-color):hover,
.is-style-clear.wp-block-button .wp-element-button:not(.has-background, .has-text-color):focus-visible,
.wp-block-navigation.is-style-clear .wp-block-navigation-item .wp-block-navigation-item__content:hover,
.wp-block-navigation.is-style-clear .wp-block-navigation-item .wp-block-navigation-item__content:focus-visible,
.wp-block-navigation .wp-block-navigation-item.is-style-clear .wp-block-navigation-item__content:hover,
.wp-block-navigation .wp-block-navigation-item.is-style-clear .wp-block-navigation-item__content:focus-visible,
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item.is-style-clear .wp-block-navigation-item__content:hover,
.wp-block-navigation .wp-block-navigation-submenu .wp-block-navigation-item.is-style-clear .wp-block-navigation-item__content:focus-visible {
	color: inherit;
	background: none;
	/* border-radius: 0; */
	border: none;
	box-shadow: none;
	text-decoration: none;
}

.wp-block-navigation.is-style-clear .wp-block-navigation-submenu .wp-block-navigation-item__content:hover + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation.is-style-clear .wp-block-navigation-submenu .wp-block-navigation-item__content:focus-visible + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-clear .wp-block-navigation-item__content:hover + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-clear .wp-block-navigation-item__content:focus-visible + .wp-block-navigation__submenu-icon svg
.wp-block-navigation .wp-block-navigation-submenu.is-style-clear.is-style-clear .wp-block-navigation-item__content:hover + .wp-block-navigation__submenu-icon svg,
.wp-block-navigation .wp-block-navigation-submenu.is-style-clear.is-style-clear .wp-block-navigation-item__content:focus-visible + .wp-block-navigation__submenu-icon svg {
	stroke: currentColor;
}

/**
 * Button sizes
 * ____________________________________________________________________
 */

/* is-size-big */
.is-size-big.button,
.is-size-big.wp-block-button.wp-element-button,
.is-size-big.wp-block-button .wp-element-button {
	font-size: var(--wp--custom--greyd--button--big--typography--font-size);
	padding-top: var(--wp--custom--greyd--button--big--spacing--padding--top);
	padding-bottom: var(--wp--custom--greyd--button--big--spacing--padding--bottom);
	padding-left: var(--wp--custom--greyd--button--big--spacing--padding--left);
	padding-right: var(--wp--custom--greyd--button--big--spacing--padding--right);
}

/* is-size-small */
.is-size-small.button,
.is-size-small.wp-block-button.wp-element-button,
.is-size-small.wp-block-button .wp-element-button,
.is-style-small-search.wp-block-greyd-search.wp-block-greyd-search__button,
.is-style-small-search.wp-block-greyd-search .wp-block-greyd-search__button {
	font-size: var(--wp--custom--greyd--button--small--typography--font-size);
	padding-top: var(--wp--custom--greyd--button--small--spacing--padding--top);
	padding-bottom: var(--wp--custom--greyd--button--small--spacing--padding--bottom);
	padding-left: var(--wp--custom--greyd--button--small--spacing--padding--left);
	padding-right: var(--wp--custom--greyd--button--small--spacing--padding--right);
}