/**
 * Editor admin CSS for Trigger Feature.
 * 
 * This file does not gets processed and affects everything on the admin screen.
 */
.is-button.link {
	text-decoration: underline;
}

/*    Trigger toolbar
__________________________________
*/
.components-greyd-dropdown__content .components-popover__content > div {
	min-width: 150px;
}
.components-greyd-dropdown__content.is-edit .components-popover__content > div {
	min-width: 300px;
}

.components-greyd-dropdown__content .trigger-head {
	padding: 12px 12px 4px;
	align-items: center;
}
.components-greyd-dropdown__content.is-edit .trigger-head {
	background: #eee;
	border-bottom: 1px solid #1e1e1e;
}
.components-greyd-dropdown__content .trigger-head label {
	display: block;
	margin-bottom: 3px;
}
.components-greyd-dropdown__content .trigger-head .flex {
	gap: 10px;
}
.components-greyd-dropdown__content .trigger-head button {
	margin-left: 0px;
	height: 30px;
	min-width: 36px !important;
}
.components-greyd-dropdown__content .trigger-head .trigger-label {
	background: #ddd;
	padding: 2px 5px;
	border-radius: 2px;
	margin-right: auto;
	white-space: nowrap;
}
.components-greyd-dropdown__content .trigger-body .trigger-preview {
	display: flex;
	flex-direction: column;
	padding: 8px 12px 12px;
	margin-right: 35px;
	white-space: nowrap;
	font-size: 1.2em;
	font-weight: 600;
}
.components-greyd-dropdown__content .trigger-body .trigger-preview a {
	cursor: pointer;
}
.components-greyd-dropdown__content.is-edit .trigger-body__content {
	padding: 12px 12px 4px;
}

.components-greyd-preview__content .components-popover__content > div {
	overflow: hidden;
}
.components-greyd-preview__content .greyd-iframe-preview {
	width: 1280px;
	height: 768px;
	transform: scale(0.2);
	transform-origin: top left;
}
.components-greyd-preview__content .greyd-pdf-preview {
	min-width: 320px;
	height: 255px;
	transform: scale(0.79);
	transform-origin: top left;
}
.components-greyd-preview__content .greyd-img-preview {
	margin: 0 auto;
}

/*    unused
__________________________________
*/
.components-greyd-paramgroup {
	margin-top: var(--basic-margin);
	padding-bottom: var(--basic-margin);
}
.components-greyd-paramitem {
	padding: 12px;
	border: 1px solid #f0f0f0;
	border-bottom: none;
	transition: all .1s ease-out;
}
.components-greyd-paramitem:hover {
	/* background: #f0f0f0; */
	background: rgba(0, 0, 0, 0.05);
}
.components-greyd-paramitem .rich-text {
	font-size: 13px;
	line-height: normal;
	padding: 6px 8px;
	border-radius: 2px;
	border: 1px solid #ccc;
	background-color: #fff;
	transition: box-shadow .1s linear;
}
.components-greyd-paramitem .rich-text:focus {
	border-color: #2271b1;
	box-shadow: 0 0 0 1px #2271b1;
	outline: 2px solid transparent;
}
/* .components-greyd-paramitem .block-editor-link-control {
	margin: -16px -16px -32px !important;
} */
.components-greyd-paramitem .block-editor-link-control__tools {
	padding-top: 0px;
	border: 0px;
}
.components-greyd-paramitem .block-editor-link-control__search-item {
	padding-bottom: 0px;
}
.components-greyd-paramitem .block-editor-link-control__search-item-top {
	margin-bottom: 24px;
}
.components-greyd-paramitem .block-editor-link-control__search-results-wrapper {
	margin-top: -32px;
}
.components-greyd-paramgroup .editor-post-featured-image__toggle {
	min-height: 35px;
}
