/**
 * Style blocks only inside the editor.
 * 
 * This file gets processed and only affects blocks inside .editor-styles-wrapper
 */


/*    Misc
__________________________________
*/
.block-editor-block-list__layout .block-editor-block-list__block:not([contenteditable]):focus::after, 
.block-editor-block-list__layout .block-editor-block-list__block.is-highlighted::after, 
.block-editor-block-list__layout .block-editor-block-list__block.is-multi-selected::after, 
.is-navigate-mode .block-editor-block-list__layout .block-editor-block-list__block.is-hovered::after, 
.is-navigate-mode .block-editor-block-list__layout .block-editor-block-list__block.is-selected::after,
.block-editor-block-list__layout .block-editor-block-list__block::after {
    display: block;
}
.wp-block pre {
	z-index: 0 !important;
	background: #f9f7ff !important;
}

/* placeholder control */
.editor-styles-wrapper .components-placeholder__instructions {
    margin: 1em 0;
}


/*    Heading
__________________________________
*/
.wp-block.wp-block-heading {
    margin-left: 0;
    margin-right: 0;
}
.has-text-color p,
.has-text-color h1,
.has-text-color h2,
.has-text-color h3,
.has-text-color h4,
.has-text-color h5,
.has-text-color h6 {
    color: inherit;
}


/*    Preview info helper (for conditions, hidden-fields...)
__________________________________
*/
.preview-info-wrapper {
    outline: 1px solid #e0e0e0;
    margin-bottom: var(--basic-margin);
}
.preview-info-wrapper .preview-info-tag,
.preview-info-wrapper .preview-info-content {
    padding: var(--basic-margin);
}
.preview-info-wrapper .preview-info-tag {
	display: flex;
    background: #f9f7ff;
    color: #75737B;
    font-family: 'Courier New', Courier, monospace;
    justify-content: flex-start;
    align-items: center;
}
.preview-info-wrapper .preview-info-icon,
.preview-info-wrapper svg {
    width: 32px;
    margin-right: var(--basic-margin);
    opacity: .3;
}
.preview-info-wrapper .preview-info-tag ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.preview-info-wrapper .preview-anchor-helper {
    position: absolute;
    right: 0;
    left: 0;
    opacity: 0.2;
    border: 2px solid red;
}

/*    Popup close button (new)
__________________________________
*/
[data-type="greyd/popup-close"] [data-align="right"] {
    text-align: right;
}
[data-type="greyd/popup-close"] [data-align="center"] {
    text-align: center;
}


/*    Post archive
__________________________________
*/
[data-type="core/archives"] {
    float: none !important;
}
[data-type="core/archives"] select {
    width: auto;
    padding-right: 34px;
}
[data-type="core/archives"] select:disabled,
[data-type="core/archives"] select:focus {
    background: var(--color23, #f9f7ff) url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55% !important;
    opacity: 1 !important;
}



/*    Lists
__________________________________
*/
ul, ol { 
    margin: 0; 
    padding: 0 
} 
ol { 
    list-style: var(--OlistStyle); 
}
ul { 
    list-style: var(--UlistStyle); 
}
li,
li.wp-block-list-item {
    margin-left: 20px; 
}
/* 
.wp-block-list {
    margin-bottom: 1em;
}
ul [data-type="greyd/list-item"]:first-child {
    margin-top: 0px !important;
}
.wp-block-greyd-list li {
    width: fit-content;
} 
*/


/*    Search
__________________________________
*/
.wp-block-search .wp-block-search__label {
    font-family: var(--FRLfontFamily);
    font-size: var(--LBLfontSize);
    font-weight: var(--LBLfontWeight);
    line-height: var(--LBLlineHeight);
    letter-spacing: var(--LBLletterSpacing);
    word-spacing: var(--LBLwordSpacing);
    text-transform: var(--LBLtextTransform);
    color: var(--FRLtxtcolor);
}
.wp-block-search .wp-block-search__button {
    display: inline-block;
    width: auto;
    text-align: center;
    padding: var(--BTNpaddingy) var(--BTNpaddingx);

    font-family: var(--BTfontFamily);
    font-size: var(--BTNfontSize); 
    font-weight: var(--BTNfontWeight);
    line-height: var(--BTNlineHeight);
    letter-spacing: var(--BTNletterSpacing);
    word-spacing: var(--BTNwordSpacing);
    text-transform: var(--BTNtextTransform);
    text-decoration: none;

    color: var(--BTtxtcolor);
    background-color: var(--BTbgcolor);
    border-color: var(--BTbocolor);

    border-width: var(--BTNborderWidth);
    border-radius: var(--BTNborderRadius);
    border-top-style: var(--BTNborderTop);
    border-bottom-style: var(--BTNborderBottom);
    border-left-style: var(--BTNborderLeft);
    border-right-style: var(--BTNborderRight);
    box-shadow: var(--BTNshadow);
}
.wp-block-search .wp-block-search__inside-wrapper > * {
    margin-bottom: 0;
}


/*    Social Links
__________________________________
*/


ul.wp-block-social-links {
    width: 100%;
    display: flex;
}
.wp-block-social-links .is-content-justification-left {
    justify-content: flex-start;
}
.wp-block-social-links .is-content-justification-center{
    justify-content: center;
}
.wp-block-social-links .is-content-justification-right {
    justify-content: right;
}

.wp-block-social-links .wp-social-link {
    width: fit-content;
}
.wp-block-social-links__social-placeholder .wp-social-link {
    border-radius: 9999px;
    margin: 0 10px 0 0;
}

/*     Separator
__________________________________
*/

.wp-block[data-align="left"] .wp-block-separator {
    margin-left: 0;
    margin-right: auto;
}
.wp-block[data-align="right"] .wp-block-separator {
    margin-right: 0;
    margin-left: auto;
}

/**
 * Fix Query Grid display
 */
li.wp-block-post,
.wp-block-query li.wp-block-post,
.greyd-posts-slider li.wp-block-post {
	grid-template-columns: none !important;
	margin: 0;
}