/* .wp-block-greyd-tab.is-active {
    display: flex !important;
} */

.wp-block-greyd-tabs .greyd_tab {
    margin-bottom: 0;
}

.wp-block-greyd-tab:not(.is-active) {
    display: none;
}

.wp-block-greyd-tabs .wp-block-greyd-tabs__content {
	padding: var(--tabs-content-padding);
	background: var(--tabs-content-background);
	color: var(--tabs-content-color);
	border-radius: var(--tabs-content-radius);
}
.wp-block.alignleft > .wp-block-greyd-tabs .tabs {
	justify-content: left;
}
.wp-block.aligncenter > .wp-block-greyd-tabs .tabs {
	justify-content: center;
}
.wp-block.alignright > .wp-block-greyd-tabs .tabs {
	justify-content: flex-end;
}