/**
 * Editor admin CSS for Dynamic Features.
 * 
 * This file does not gets processed and affects everything on the admin screen.
 */


/*    Dynamic Template
__________________________________
*/

/* disable stuff */
.wp-block-greyd-dynamic > div,
.wp-block-greyd-template-post > div,
.wp-block-greyd-template-posts > div,
.wp-block-greyd-template-details > div,
.wp-block-greyd-posts > div,
.wp-block-greyd-posts-links > div {
	pointer-events: none;
}
.block-library-block__reusable-block-template-container {
	cursor: default;
}
/* .block-library-block__reusable-block-template-container .rich-text, */
.block-library-block__reusable-block-template-container .dyn {
	pointer-events: all;
	cursor: initial;
}
.block-library-block__reusable-block-template-container .block-list-appender.wp-block {
	display: none;
}
.block-editor-block-inspector .dynamic_controls.disabled,
.block-editor-block-toolbar .disabled {
	opacity: 0.25;
	pointer-events: none !important;
	cursor: default;
}
.block-editor-block-inspector .dynamic_controls.disabled *,
.block-editor-block-toolbar .disabled * {
	pointer-events: none !important;
	cursor: default;
}

/* controls overlay */
.block-editor-block-inspector .template_layer {
	cursor: default;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 75px 10px 0px;
	background: rgba(255, 255, 255, 0.75);
	z-index: 10999;
}
.block-editor-block-inspector .template_layer .template_layer__box {
	background: #FFFFFF;
	box-shadow: 0 13px 27px -5px rgba(50,50,50,.125), 0 8px 16px -8px rgba(0,0,0,.15), 0 -6px 16px -6px rgba(0,0,0,.0125);
	padding: 1em;
}
.block-editor-block-inspector .template_layer .template_layer__box .dashicon {
	height: auto;
	width: auto;
	font-size: 32px;
	margin-bottom: 12px;
	color: #D7D7D7;
	width: 100%;
	text-align: center;
}

/* dynamic controls */
.dynamic_control {
	margin: 1em 0;
}
.dynamic_control:not(:last-child)::after {
	content: " ";
	display: block;
	border-top: 1px solid #e0e0e0;
	margin-top: 1.6em;
}
/* nested template */
.dynamic_control__nested {
	border-left: 1px solid #e0e0e0;
	margin-top: -1em;
	padding: 1em 0 1em 10px;
}
.dynamic_control__nested > label:first-child {
	font-weight: 600;
}


/*    DynamicOptionsSelect (unused)
__________________________________
*/
.components-dynamic-options-list {
	flex-direction: column;
}
.component-dynamic-options-list__option {
	margin-bottom: 8px;
}
.component-dynamic-options-list__option__initial .components-base-control, .component-dynamic-options-list__option .components-base-control {
	width: 42%;
	margin-bottom: 0;
}
.component-dynamic-options-list__option__initial .components-base-control:last-child, .component-dynamic-options-list__option .components-base-control:nth-child(2) {
	margin-right: 30px;
}
.component-dynamic-options-list__button__add {
	align-self: flex-end;
	padding-right: 0;
	margin-right: -2px
}
.component-dynamic-options-list__button__remove {
	position: absolute;
	right: 2px;
}


/*    Dynamic Tag Popover
__________________________________
*/
.components-greyd-format__content .components-popover__content {
	min-width: 280px;
	padding: 16px;
}
.components-greyd-format__content .components-popover__content .components-tip {
	margin: 16px -16px -16px;
	padding: 8px 10px;
	background-color: #f8f8f8;
	border-top: 1px solid #ccc;
}
.components-greyd-format__content .components-popover__content h4 {
	display: block;
	margin-top: 0px;
	margin-bottom: 16px;
}
.components-greyd-format__content .components-popover__content hr {
	margin: 16px -16px;
	border-top: 1px solid #ccc;
	border-bottom: none;
}

/* Fix width of dynamic templates by overwriting Core max-width setting */
.post-type-dynamic_template :where(.editor-styles-wrapper) .block-editor-block-list__layout.is-root-container.has-global-padding > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	max-width: none !important;
}