/**
 * Style blocks only inside the editor.
 * 
 * This file gets processed and only affects blocks inside .editor-styles-wrapper
 */


/*    Greyd.Buttons
__________________________________
*/
.wp-block > .wp-block-greyd-buttons {
	display: block !important;
}
.wp-block-greyd-buttons .block-editor-block-list__layout {
	/* reset wp styling */
	float: none !important;
	display: flex !important;

	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: var(--wp--style--block-gap);;
}
.wp-block[data-type="greyd/buttons"].alignleft .block-editor-inner-blocks > .block-editor-block-list__layout,
.wp-block.alignleft > .wp-block-greyd-buttons .block-editor-block-list__layout {
	justify-content: flex-start;
}
.wp-block[data-type="greyd/buttons"].aligncenter .block-editor-inner-blocks > .block-editor-block-list__layout,
.wp-block.aligncenter > .wp-block-greyd-buttons .block-editor-block-list__layout {
	justify-content: center;
}
.wp-block[data-type="greyd/buttons"].alignright .block-editor-inner-blocks > .block-editor-block-list__layout,
.wp-block.alignright > .wp-block-greyd-buttons .block-editor-block-list__layout {
	justify-content: flex-end;
}
.wp-block-greyd-button {
	cursor: auto !important;
}
