/**
 * Blocks CSS for Greyd Button Blocks.
 * 
 * Contains general block styles. Is enqueued in the front- & backend.
 * This file does not get processed and is loaded *after* editor styles so it
 * will take precedence over editor-specific styles using the same selectors.
 */
.wp-block-greyd-buttons.wp-block-greyd-buttons {
	/* width: 100%; */
	gap: var(--wp--style--block-gap);
}

 
/*   Alignments
__________________________________
*/
.wp-block-greyd-buttons.wp-block-greyd-buttons,
.wp-block-buttons {
	float: none; /* reset wp styling */
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.wp-block-greyd-buttons.alignleft,
.wp-block-buttons.alignleft {
	justify-content: flex-start;
}
.wp-block-greyd-buttons.aligncenter,
.wp-block-buttons.aligncenter {
	justify-content: center;
}
.wp-block-greyd-buttons.alignright,
.wp-block-buttons.alignright {
	justify-content: flex-end;
}
.wp-block-greyd-buttons a,
.wp-block-greyd-buttons button,
.wp-block-greyd-buttons .button.button,
.wp-block-greyd-buttons .link,
.wp-block-buttons a,
.wp-block-button > a.wp-block-button__link,
.wp-block-buttons button,
.wp-block-buttons .button.button,
.wp-block-buttons .link {
	margin: 0;
}
.wp-block-group .wp-block-greyd-buttons,
.wp-block-group .wp-block-buttons {
	margin-left: unset;
	margin-right: unset;
}
