/**
 * @deprecated and moved to feature/search
 * load here if search feature is deactivated.
 */

[data-type="greyd/search"] .greyd-search-form:not(.custom) .block-editor-block-list__layout {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	gap: var(--gutter, 1em);
}

[data-type="greyd/search"] .block-editor-inner-blocks .block-list-appender {
	position: relative;
}

[data-type="greyd/search"] .block-editor-inner-blocks {
	width: 100%;
}

[data-type="greyd/search"] .block-editor-inner-blocks .wp-block {
	margin: 0;
}
.wp-block.alignleft > .greyd-search-form .block-editor-block-list__layout {
	justify-content: flex-start;
}
.wp-block.aligncenter > .greyd-search-form .block-editor-block-list__layout {
	justify-content: center;
}
.wp-block.alignright > .greyd-search-form .block-editor-block-list__layout {
	justify-content: flex-end;
}

[data-type="greyd/search"] .block-editor-inner-blocks .input.dropdown {
	flex: 1;
	padding-right: 30px;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E");
	background-size: 16px 16px;
	background-position: right 5px top 55%;
	background-repeat: no-repeat;
}