/**
 * @deprecated and moved to feature/search
 * load here if search feature is deactivated.
 */

.greyd-search-form:not(.custom) {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: var(--gutter, 1em);
}

.greyd-search-form.alignleft {
	justify-content: flex-start;
}

.greyd-search-form.aligncenter {
	justify-content: center;
}

.greyd-search-form.alignright {
	justify-content: flex-end;
}

.greyd-search-form .input-outer-wrapper {
	position: relative;
	width: auto;
}

.greyd-search-form:not(.custom) :is(button, .button, select, .input, .input-wrapper, .greyd_multiselect .input) {
	margin-bottom: 0;
}

/* Autofill Dropdown */
.greyd-search-form .custom-select.autosearch {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.greyd-search-form .custom-select.autosearch .loader {
	display: none;
}

.greyd-search-form .custom-select.autosearch .select-selected {
	display: none;
}

.greyd-search-form .custom-select.autosearch .select-items.loading > * {
	opacity: 0.5;
	transition: none;
}

.greyd-search-form .custom-select.autosearch .select-items:empty::after {
	content: attr(loading);
	display: block;
	padding: calc(13px - 4px) 16px;
}

.greyd-search-form .custom-select.autosearch .select-items.loading::before {
	content: " ";
	display: block;
	position: absolute;
	right: 16px;
	top: calc(13px - 4px);
	height: calc(1em - 4px);
	width: calc(1em - 4px);
	border: 2px solid currentColor;
	border-top-color: transparent;
	border-radius: 100%;
	animation: loading 1s linear infinite;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}