:where(:root) {


	/**
	 * ====================================================================
	 *                             Presets
	 * ====================================================================
	 */

	/**
	 * Colors
	 */
	--wp--preset--color--primary: var(--wp--preset--color--accent-1);
	--wp--preset--color--secondary: #F6CFF4;
	--wp--preset--color--tertiary: #503AA8;
	--wp--preset--color--foreground: var(--wp--preset--color--contrast);
	--wp--preset--color--dark: #343434;
	--wp--preset--color--mediumdark: #686868;
	--wp--preset--color--mediumlight: #F3F3F3;
	--wp--preset--color--background: #FFFFFF;
	--wp--preset--color--darkest: #000000;
	--wp--preset--color--lightest: #FFFFFF;
	--wp--preset--color--transparent: transparent;

	/**
	 * Font sizes
	 * as twentytwentyfive uses mostly the same names for font sizes, we only need to define 2 sizes.
	 */
	--wp--preset--font-size--tiny: var(--wp--preset--font-size--small);
	--wp--preset--font-size--base: var(--wp--preset--font-size--medium);

	/**
	 * Line heights
	 */
	--wp--custom--line-height--loose: 2;
	--wp--custom--line-height--relaxed: 1.6;
	--wp--custom--line-height--normal: 1.4;
	--wp--custom--line-height--snug: 1.2;
	--wp--custom--line-height--tight: 1.125;
	--wp--custom--line-height--none: 1;

	/**
	 * Font families
	 */
	--wp--preset--font-family--body: inherit;
	--wp--preset--font-family--heading: inherit;
	--wp--preset--font-family--highlight: inherit;

	/**
	 * Font weights
	 */
	--wp--custom--font-weight--black: 900;
	--wp--custom--font-weight--extra-bold: 800;
	--wp--custom--font-weight--bold: 700;
	--wp--custom--font-weight--semi-bold: 600;
	--wp--custom--font-weight--medium: 500;
	--wp--custom--font-weight--regular: 400;
	--wp--custom--font-weight--light: 300;
	--wp--custom--font-weight--extra-light: 200;
	--wp--custom--font-weight--thin: 100;

	/**
	 * Spacings
	 */
	--wp--preset--spacing--tiny: var(--wp--preset--spacing--20);
	--wp--preset--spacing--small: var(--wp--preset--spacing--40);
	--wp--preset--spacing--medium: var(--wp--preset--spacing--50);
	--wp--preset--spacing--large: var(--wp--preset--spacing--60);
	--wp--preset--spacing--x-large: var(--wp--preset--spacing--70);


	/**
	 * ====================================================================
	 *                             Buttons
	 * ====================================================================
	 */

	/* primary button */
	--wp--custom--greyd--button--prim--border--color: var(--wp--preset--color--contrast);
	--wp--custom--greyd--button--prim--border--radius: 9999px;
	--wp--custom--greyd--button--prim--border--style: solid;
	--wp--custom--greyd--button--prim--border--width: 1px;
	--wp--custom--greyd--button--prim--color--background: var(--wp--preset--color--contrast);
	--wp--custom--greyd--button--prim--color--text: var(--wp--preset--color--lightest);
	--wp--custom--greyd--button--prim--shadow: none;
	/* hover */
	--wp--custom--greyd--button--prim--hover--color--background: var(--wp--preset--color--dark);
	--wp--custom--greyd--button--prim--hover--color--text: var(--wp--preset--color--lightest);
	--wp--custom--greyd--button--prim--hover--border--color: var(--wp--preset--color--dark);
	--wp--custom--greyd--button--prim--hover--border--style: var(--wp--custom--greyd--button--prim--border--style);
	--wp--custom--greyd--button--prim--hover--border--width: var(--wp--custom--greyd--button--prim--border--width);
	--wp--custom--greyd--button--prim--hover--shadow: var(--wp--custom--greyd--button--prim--shadow);

	/* secondary button */
	--wp--custom--greyd--button--sec--border--color: var(--wp--preset--color--contrast);
	--wp--custom--greyd--button--sec--border--radius: 9999px;
	--wp--custom--greyd--button--sec--border--style: solid;
	--wp--custom--greyd--button--sec--border--width: 1px;
	--wp--custom--greyd--button--sec--color--background: var(--wp--preset--color--transparent);
	--wp--custom--greyd--button--sec--color--text: var(--wp--preset--color--contrast);
	--wp--custom--greyd--button--sec--shadow: none;
	/* hover */
	--wp--custom--greyd--button--sec--hover--color--background: var(--wp--preset--color--mediumlight);
	--wp--custom--greyd--button--sec--hover--color--text: var(--wp--preset--color--contrast);
	--wp--custom--greyd--button--sec--hover--border--color: var(--wp--preset--color--contrast);
	--wp--custom--greyd--button--sec--hover--border--style: var(--wp--custom--greyd--button--sec--border--style);
	--wp--custom--greyd--button--sec--hover--border--width: var(--wp--custom--greyd--button--sec--border--width);
	--wp--custom--greyd--button--sec--hover--shadow: var(--wp--custom--greyd--button--sec--shadow);

	/* tertiary button */
	--wp--custom--greyd--button--trd--border--color: var(--wp--preset--color--accent-1);
	--wp--custom--greyd--button--trd--border--radius: 9999px;
	--wp--custom--greyd--button--trd--border--style: solid;
	--wp--custom--greyd--button--trd--border--width: 1px;
	--wp--custom--greyd--button--trd--color--background: var(--wp--preset--color--accent-1);
	--wp--custom--greyd--button--trd--color--text: var(--wp--preset--color--contrast);
	--wp--custom--greyd--button--trd--shadow: none;
	/* hover */
	--wp--custom--greyd--button--trd--hover--color--background: var(--wp--preset--color--accent-1);
	--wp--custom--greyd--button--trd--hover--color--text: var(--wp--preset--color--dark);
	--wp--custom--greyd--button--trd--hover--border--color: var(--wp--preset--color--dark);
	--wp--custom--greyd--button--trd--hover--border--style: var(--wp--custom--greyd--button--trd--border--style);
	--wp--custom--greyd--button--trd--hover--border--width: var(--wp--custom--greyd--button--trd--border--width);
	--wp--custom--greyd--button--trd--hover--shadow: var(--wp--custom--greyd--button--trd--shadow);

	/* typography */
	--wp--custom--greyd--button--typography--font-size:  var(--wp--preset--font-size--medium);
	--wp--custom--greyd--button--typography--font-family: var(--wp--preset--font-family--body);
	--wp--custom--greyd--button--typography--font-weight: var(--wp--custom--font-weight--light);
	--wp--custom--greyd--button--typography--line-height: inherit;
	--wp--custom--greyd--button--typography--letter-spacing: 0px;
	--wp--custom--greyd--button--typography--text-transform: none;
	
	/* spacing */
	--wp--custom--greyd--button--spacing--padding--top: calc(1rem - 1px);
	--wp--custom--greyd--button--spacing--padding--right: calc(2.25rem - 1px);
	--wp--custom--greyd--button--spacing--padding--bottom: calc(1rem - 1px);
	--wp--custom--greyd--button--spacing--padding--left: calc(2.25rem - 1px);

	/* small button */
	--wp--custom--greyd--button--small--typography--font-size: var(--wp--preset--font-size--small);
	--wp--custom--greyd--button--small--spacing--padding--top: 0.6rem;
	--wp--custom--greyd--button--small--spacing--padding--right: 1em;
	--wp--custom--greyd--button--small--spacing--padding--bottom: 0.6rem;
	--wp--custom--greyd--button--small--spacing--padding--left: 1em;

	/* big button */
	--wp--custom--greyd--button--big--typography--font-size: calc( var(--wp--preset--font-size--large) * 1.2 );
	--wp--custom--greyd--button--big--spacing--padding--top: 1.25rem;
	--wp--custom--greyd--button--big--spacing--padding--right: 3.25rem;
	--wp--custom--greyd--button--big--spacing--padding--bottom: 1.25rem;
	--wp--custom--greyd--button--big--spacing--padding--left: 3.25rem;


	/**
	 * ====================================================================
	 *                             Inputs
	 * ====================================================================
	 */

	/* primary input */
	--wp--custom--greyd--input--prim--border--color: var(--wp--preset--color--mediumdark);
	--wp--custom--greyd--input--prim--border--radius: 2px;
	--wp--custom--greyd--input--prim--border--style: solid;
	--wp--custom--greyd--input--prim--border--width: 1px;
	--wp--custom--greyd--input--prim--color--background: var(--wp--preset--color--base);
	--wp--custom--greyd--input--prim--color--placeholder: var(--wp--preset--color--mediumdark);
	--wp--custom--greyd--input--prim--color--text: var(--wp--preset--color--contrast);
	--wp--custom--greyd--input--prim--shadow: none;
	/* hover */
	--wp--custom--greyd--input--prim--hover--border--color: var(--wp--preset--color--contrast);
	--wp--custom--greyd--input--prim--hover--border--style: var(--wp--custom--greyd--input--prim--border--style);
	--wp--custom--greyd--input--prim--hover--border--width: var(--wp--custom--greyd--input--prim--border--width);
	--wp--custom--greyd--input--prim--hover--color--background: var(--wp--preset--color--base);
	--wp--custom--greyd--input--prim--hover--color--placeholder: var(--wp--preset--color--mediumdark);
	--wp--custom--greyd--input--prim--hover--color--text: var(--wp--preset--color--contrast);
	--wp--custom--greyd--input--prim--hover--shadow: var(--wp--custom--greyd--input--prim--shadow);
	
	/* secondary input */
	--wp--custom--greyd--input--sec--border--color: var(--wp--preset--color--mediumlight);
	--wp--custom--greyd--input--sec--border--radius: 2px;
	--wp--custom--greyd--input--sec--border--style: solid;
	--wp--custom--greyd--input--sec--border--width: 1px;
	--wp--custom--greyd--input--sec--color--background: var(--wp--preset--color--mediumlight);
	--wp--custom--greyd--input--sec--color--placeholder: var(--wp--preset--color--mediumdark);
	--wp--custom--greyd--input--sec--color--text: var(--wp--preset--color--contrast);
	--wp--custom--greyd--input--sec--shadow: none;
	/* hover */
	--wp--custom--greyd--input--sec--hover--border--color: var(--wp--preset--color--mediumdark);
	--wp--custom--greyd--input--sec--hover--border--style: var(--wp--custom--greyd--input--sec--border--style);
	--wp--custom--greyd--input--sec--hover--border--width: var(--wp--custom--greyd--input--sec--border--width);
	--wp--custom--greyd--input--sec--hover--color--background: var(--wp--preset--color--mediumlight);
	--wp--custom--greyd--input--sec--hover--color--placeholder: var(--wp--preset--color--dark);
	--wp--custom--greyd--input--sec--hover--color--text: var(--wp--preset--color--contrast);
	--wp--custom--greyd--input--sec--hover--shadow: var(--wp--custom--greyd--input--sec--shadow);

	/* spacing */
	--wp--custom--greyd--input--spacing--padding--top: 1rem;
	--wp--custom--greyd--input--spacing--padding--right: 2.25rem;
	--wp--custom--greyd--input--spacing--padding--bottom: 1rem;
	--wp--custom--greyd--input--spacing--padding--left: 2.25rem;

	/* typography */
	--wp--custom--greyd--input--typography--font-family: var(--wp--preset--font-family--body);
	--wp--custom--greyd--input--typography--font-size: var(--wp--preset--font-size--base);
	--wp--custom--greyd--input--typography--font-weight: var(--wp--custom--font-weight--light);
	--wp--custom--greyd--input--typography--letter-spacing: 0px;
	--wp--custom--greyd--input--typography--line-height: 1.6;
	--wp--custom--greyd--input--typography--text-transform: none;

	/* label */
	--wp--custom--greyd--input--label--color--background: var(--wp--preset--color--transparent);
	--wp--custom--greyd--input--label--color--text: var(--wp--preset--color--contrast);
	--wp--custom--greyd--input--label--typography--font-family: var(--wp--preset--font-family--body);
	--wp--custom--greyd--input--label--typography--font-size: var(--wp--preset--font-size--base);
	--wp--custom--greyd--input--label--typography--font-weight: var(--wp--custom--font-weight--light);
	--wp--custom--greyd--input--label--typography--line-height: var(--wp--custom--line-height--normal);
}

.wp-block-greyd-buttons.wp-block-greyd-buttons {
	gap: 0.7rem;
}