:where(:root) {


	/**
	 * ====================================================================
	 *                             Presets
	 * ====================================================================
	 */

	/**
	 * Colors
	 */
	--wp--preset--color--primary: #111111;
	--wp--preset--color--secondary: #CFCABE;
	--wp--preset--color--tertiary: #C2A990;
	--wp--preset--color--foreground: #111111;
	--wp--preset--color--dark: #636363;
	--wp--preset--color--mediumdark: #A4A4A4;
	--wp--preset--color--mediumlight: #B5BDBC;
	--wp--preset--color--base: #F9F9F9;
	--wp--preset--color--background: #ffffff;
	--wp--preset--color--darkest: #000000;
	--wp--preset--color--lightest: #ffffff;
	--wp--preset--color--transparent: rgb(255, 255, 255, 0);

	/**
	 * Font sizes
	 * as twentytwentyfour uses mostly the same names for font sizes, we only need to define 2 sizes.
	 */
	--wp--preset--font-size--tiny: var(--wp--preset--font-size--small);
	--wp--preset--font-size--base: var(--wp--preset--font-size--medium);

	/**
	 * Font families
	 */
	--wp--preset--font-family--highlight: var(--wp--preset--font-family--body);

	/**
	 * Spacings
	 * As twentytwentyfour uses numerical names for spacings, we need to map them to the correct values.
	 */
	--wp--preset--spacing--tiny: var(--wp--preset--spacing--10);
	--wp--preset--spacing--small: var(--wp--preset--spacing--20);
	--wp--preset--spacing--medium: var(--wp--preset--spacing--30);
	--wp--preset--spacing--large: var(--wp--preset--spacing--40);
	--wp--preset--spacing--x-large: var(--wp--preset--spacing--50);


	/**
	 * ====================================================================
	 *                             Buttons
	 * ====================================================================
	 */
	
	/* spacing */
	--wp--custom--greyd--button--spacing--padding--top: 0.6rem;
	--wp--custom--greyd--button--spacing--padding--right: 1rem;
	--wp--custom--greyd--button--spacing--padding--bottom: 0.6rem;
	--wp--custom--greyd--button--spacing--padding--left: 1rem;

	/* typography */
	--wp--custom--greyd--button--typography--font-size:  var(--wp--preset--font-size--small);
	--wp--custom--greyd--button--typography--font-family: var(--wp--preset--font-family--body);
	--wp--custom--greyd--button--typography--font-weight: 500;
	--wp--custom--greyd--button--typography--line-height: inherit;
	--wp--custom--greyd--button--typography--letter-spacing: 0px;
	--wp--custom--greyd--button--typography--text-transform: none;

	/* small button */
	--wp--custom--greyd--button--small--typography--font-size: var(--wp--preset--font-size--tiny);
	--wp--custom--greyd--button--small--spacing--padding--top: 0.3rem;
	--wp--custom--greyd--button--small--spacing--padding--right: 0.6rem;
	--wp--custom--greyd--button--small--spacing--padding--bottom: 0.3rem;
	--wp--custom--greyd--button--small--spacing--padding--left: 0.6rem;

	/* big button */
	--wp--custom--greyd--button--big--typography--font-size: var(--wp--preset--font-size--large);
	--wp--custom--greyd--button--big--spacing--padding--top: 0.6rem;
	--wp--custom--greyd--button--big--spacing--padding--right: 2rem;
	--wp--custom--greyd--button--big--spacing--padding--bottom: 0.6rem;
	--wp--custom--greyd--button--big--spacing--padding--left: 2rem;

	/* primary button */
	--wp--custom--greyd--button--prim--border--color: var(--wp--preset--color--primary);
	--wp--custom--greyd--button--prim--border--radius: 0.33rem;
	--wp--custom--greyd--button--prim--border--style: solid;
	--wp--custom--greyd--button--prim--border--width: 0;
	--wp--custom--greyd--button--prim--color--background: var(--wp--preset--color--primary);
	--wp--custom--greyd--button--prim--color--text: var(--wp--preset--color--lightest);
	--wp--custom--greyd--button--prim--shadow: none;
	/* hover */
	--wp--custom--greyd--button--prim--hover--color--background: var(--wp--preset--color--foreground);
	--wp--custom--greyd--button--prim--hover--color--text: var(--wp--preset--color--lightest);
	--wp--custom--greyd--button--prim--hover--border--color: var(--wp--preset--color--foreground);
	--wp--custom--greyd--button--prim--hover--border--style: var(--wp--custom--greyd--button--prim--border--style);
	--wp--custom--greyd--button--prim--hover--border--width: var(--wp--custom--greyd--button--prim--border--width);
	--wp--custom--greyd--button--prim--hover--shadow: var(--wp--custom--greyd--button--prim--shadow);

	/* secondary button */
	--wp--custom--greyd--button--sec--border--color: var(--wp--preset--color--foreground);
	--wp--custom--greyd--button--sec--border--radius: 0.33rem;
	--wp--custom--greyd--button--sec--border--style: solid;
	--wp--custom--greyd--button--sec--border--width: 1px;
	--wp--custom--greyd--button--sec--color--background: var(--wp--preset--color--transparent);
	--wp--custom--greyd--button--sec--color--text: var(--wp--preset--color--foreground);
	--wp--custom--greyd--button--sec--shadow: none;
	/* hover */
	--wp--custom--greyd--button--sec--hover--color--background: var(--wp--preset--color--foreground);
	--wp--custom--greyd--button--sec--hover--color--text: var(--wp--preset--color--lightest);
	--wp--custom--greyd--button--sec--hover--border--color: var(--wp--preset--color--foreground);
	--wp--custom--greyd--button--sec--hover--border--style: var(--wp--custom--greyd--button--sec--border--style);
	--wp--custom--greyd--button--sec--hover--border--width: var(--wp--custom--greyd--button--sec--border--width);
	--wp--custom--greyd--button--sec--hover--shadow: var(--wp--custom--greyd--button--sec--shadow);

	/* tertiary button */
	--wp--custom--greyd--button--trd--border--color: var(--wp--preset--color--secondary);
	--wp--custom--greyd--button--trd--border--radius: 0.33rem;
	--wp--custom--greyd--button--trd--border--style: solid;
	--wp--custom--greyd--button--trd--border--width: 0;
	--wp--custom--greyd--button--trd--color--background: var(--wp--preset--color--secondary);
	--wp--custom--greyd--button--trd--color--text: var(--wp--preset--color--foreground);
	--wp--custom--greyd--button--trd--shadow: none;
	/* hover */
	--wp--custom--greyd--button--trd--hover--color--background: var(--wp--preset--color--foreground);
	--wp--custom--greyd--button--trd--hover--color--text: var(--wp--preset--color--lightest);
	--wp--custom--greyd--button--trd--hover--border--color: var(--wp--preset--color--foreground);
	--wp--custom--greyd--button--trd--hover--border--style: var(--wp--custom--greyd--button--trd--border--style);
	--wp--custom--greyd--button--trd--hover--border--width: var(--wp--custom--greyd--button--trd--border--width);
	--wp--custom--greyd--button--trd--hover--shadow: var(--wp--custom--greyd--button--trd--shadow);


	/**
	 * ====================================================================
	 *                             Inputs
	 * ====================================================================
	 */

	/* spacing */
	--wp--custom--greyd--input--spacing--padding--top: 0.6rem;
	--wp--custom--greyd--input--spacing--padding--right: 1rem;
	--wp--custom--greyd--input--spacing--padding--bottom: 0.6rem;
	--wp--custom--greyd--input--spacing--padding--left: 1rem;

	/* typography */
	--wp--custom--greyd--input--typography--font-family: var(--wp--preset--font-family--body);
	--wp--custom--greyd--input--typography--font-size: var(--wp--preset--font-size--base);
	--wp--custom--greyd--input--typography--font-weight: 400;
	--wp--custom--greyd--input--typography--letter-spacing: 0px;
	--wp--custom--greyd--input--typography--line-height: 1.6;
	--wp--custom--greyd--input--typography--text-transform: none;

	/* label */
	--wp--custom--greyd--input--label--color--background: var(--wp--preset--color--transparent);
	--wp--custom--greyd--input--label--color--text: var(--wp--preset--color--foreground);
	--wp--custom--greyd--input--label--typography--font-family: var(--wp--preset--font-family--body);
	--wp--custom--greyd--input--label--typography--font-size: var(--wp--preset--font-size--base);
	--wp--custom--greyd--input--label--typography--font-weight: var(--wp--custom--font-weigth-regular);
	--wp--custom--greyd--input--label--typography--line-height: var(--wp--custom--line-height--normal);

	/* primary input */
	--wp--custom--greyd--input--prim--border--color: var(--wp--preset--color--mediumlight);
	--wp--custom--greyd--input--prim--border--radius: 0.33rem;
	--wp--custom--greyd--input--prim--border--style: solid;
	--wp--custom--greyd--input--prim--border--width: 1px;
	--wp--custom--greyd--input--prim--color--background: var(--wp--preset--color--base);
	--wp--custom--greyd--input--prim--color--placeholder: var(--wp--preset--color--mediumdark);
	--wp--custom--greyd--input--prim--color--text: var(--wp--preset--color--foreground);
	--wp--custom--greyd--input--prim--shadow: none;
	/* hover */
	--wp--custom--greyd--input--prim--hover--border--color: var(--wp--preset--color--mediumlight);
	--wp--custom--greyd--input--prim--hover--border--style: var(--wp--custom--greyd--input--prim--border--style);
	--wp--custom--greyd--input--prim--hover--border--width: var(--wp--custom--greyd--input--prim--border--width);
	--wp--custom--greyd--input--prim--hover--color--background: var(--wp--preset--color--base);
	--wp--custom--greyd--input--prim--hover--color--placeholder: var(--wp--preset--color--mediumdark);
	--wp--custom--greyd--input--prim--hover--color--text: var(--wp--preset--color--foreground);
	--wp--custom--greyd--input--prim--hover--shadow: var(--wp--custom--greyd--input--prim--shadow);

	/* secondary input */
	--wp--custom--greyd--input--sec--border--color: var(--wp--preset--color--mediumdark);
	--wp--custom--greyd--input--sec--border--radius: 0.33rem;
	--wp--custom--greyd--input--sec--border--style: solid;
	--wp--custom--greyd--input--sec--border--width: 1px;
	--wp--custom--greyd--input--sec--color--background: var(--wp--preset--color--transparent);
	--wp--custom--greyd--input--sec--color--placeholder: var(--wp--preset--color--mediumdark);
	--wp--custom--greyd--input--sec--color--text: var(--wp--preset--color--foreground);
	--wp--custom--greyd--input--sec--shadow: none;
	/* hover */
	--wp--custom--greyd--input--sec--hover--border--color: var(--wp--preset--color--foreground);
	--wp--custom--greyd--input--sec--hover--border--style: var(--wp--custom--greyd--input--sec--border--style);
	--wp--custom--greyd--input--sec--hover--border--width: var(--wp--custom--greyd--input--sec--border--width);
	--wp--custom--greyd--input--sec--hover--color--background: var(--wp--preset--color--transparent);
	--wp--custom--greyd--input--sec--hover--color--placeholder: var(--wp--preset--color--dark);
	--wp--custom--greyd--input--sec--hover--color--text: var(--wp--preset--color--foreground);
	--wp--custom--greyd--input--sec--hover--shadow: var(--wp--custom--greyd--input--sec--shadow);
}

.wp-block-greyd-buttons.wp-block-greyd-buttons {
	gap: 0.7rem;
}