/**
 * Style blocks only inside the editor.
 * 
 * This file gets processed and only affects blocks inside .editor-styles-wrapper
 */


/*    Misc
__________________________________
*/

/* placeholder control */
.editor-styles-wrapper .components-placeholder__instructions {
	margin: 1em 0;
}


/*    Preview info helper (for conditions, hidden-fields...)
__________________________________
*/
.preview-info-wrapper {
	outline: 1px solid var(--wp--preset--color--base, #e0e0e0);
	margin-bottom: var(--basic-margin);
}

.preview-info-wrapper .preview-info-tag,
.preview-info-wrapper .preview-info-content {
	padding: var(--basic-margin);
}

.preview-info-wrapper .preview-info-tag {
	display: flex;
	background: var(--wp--preset--color--base, #e0e0e0);
	color: var(--wp--preset--color--foreground, #75737B);
	font-family: 'Noto Sans Mono', 'Roboto Mono', Courier;
	justify-content: flex-start;
	align-items: center;
}

.preview-info-wrapper .preview-info-icon,
.preview-info-wrapper .preview-info-tag svg {
	width: 32px;
	margin-right: var(--basic-margin);
	opacity: .3;
}

.preview-info-wrapper .preview-info-tag ul {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.preview-info-wrapper .preview-anchor-helper {
	position: absolute;
	right: 0;
	left: 0;
	opacity: 0.2;
	border: 2px solid red;
}

/*    Popup close button (new)
__________________________________
*/
[data-type="greyd/popup-close"] [data-align="right"] {
	text-align: right;
}

[data-type="greyd/popup-close"] [data-align="center"] {
	text-align: center;
}

/**
 * Fix Query Grid display
 */
li.wp-block-post,
.wp-block-query li.wp-block-post,
.greyd-posts-slider li.wp-block-post {
	grid-template-columns: none !important;
	margin: 0;
}

/* support group height styles and overflowing content */
[data-type="core/group"] {
	/* tbd */
	/* overflow: auto; */
}