@view-transition {
  navigation: auto;
}

/* Base Wrapper */
.wp-block-query-filter {
  display: flex;
  flex-direction: column;
}

/* Label Styling */
.wp-block-query-filter__label {
  display: block;
}

/* List Styling */
.wp-block-query-filter__list {
  list-style: none;
  padding: 0;
  margin: 0 !important; /* Override theme defaults */
  display: flex;
  flex-direction: column;
}

/* Item Styling */
.wp-block-query-filter__item {
  width: auto;
  margin: 0 !important; /* Override theme defaults */
}

.wp-block-query-filter__item a {
  display: flex;
}

/* Icons and Counts */
.wp-block-query-filter__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.wp-block-query-filter__icon img {
  display: block;
  max-width: 100%;
  height: auto;
}
