/**
 * Style the editor inside the main-menu-offcanvas template.
 * 
 * This file gets processed and affects everything in the admin view.
 */

.editor-styles-wrapper > .is-root-container.wp-block-post-content {
	margin: 0 auto;
	--maxWidth: 100vh !important;
	max-width: calc(var(--HEDOFFwidth) - var(--HEDOFFmleftright) - var(--HEDOFFmleftright)) !important;
	min-height: calc(100vh - var(--HEDOFFmtop) - var(--HEDOFFmbottom));
	padding: var(--HEDOFFtopbottom) var(--HEDOFFleftright);
	
	background-color: var(--HEDOFFbgcolor);
	color: var(--HEDOFFtxtcolor);
	border-color: var(--HEDOFFbocolor);
} 

.editor-styles-wrapper > .is-root-container.wp-block-post-content h1,
.editor-styles-wrapper > .is-root-container.wp-block-post-content h2,
.editor-styles-wrapper > .is-root-container.wp-block-post-content h3,
.editor-styles-wrapper > .is-root-container.wp-block-post-content h4,
.editor-styles-wrapper > .is-root-container.wp-block-post-content h5,
.editor-styles-wrapper > .is-root-container.wp-block-post-content h6 {
	color: var(--HEDOFFhcolor);
}

.editor-styles-wrapper > .is-root-container.wp-block-post-content [class^="menu"] li > ul {
	padding: 0px 0px var(--HEDOFFSUBmargin) var(--HEDOFFSUBleft);
}
.editor-styles-wrapper > .is-root-container.wp-block-post-content [class^="menu"] li > ul ul {
	padding-bottom: 0px;
}
.editor-styles-wrapper > .is-root-container.wp-block-post-content [class^="menu"] li a {
	margin: 0 0 var(--HEDOFFITMmargin);
}
.editor-styles-wrapper > .is-root-container.wp-block-post-content [class^="menu"] li a:not(.button) {
	align-items: center;
	padding: var(--HEDOFFITMtopbottom) var(--HEDOFFITMleftright);
	
	font-family: var(--HEDOFFMNUfontFamily);
	font-size: var(--HEDOFFMNUfontSize); 
	font-weight: var(--HEDOFFMNUfontWeight);
	line-height: var(--HEDOFFMNUlineHeight);
	letter-spacing: var(--HEDOFFMNUletterSpacing);
	word-spacing: var(--HEDOFFMNUwordSpacing);
	/* text-align: var(--HEDOFFMNUtextAlign); */
	text-transform: var(--HEDOFFMNUtextTransform); 

	color: var(--HEDOFFITMtxtcolor);
	background-color: var(--HEDOFFITMbgcolor);
	border-color: var(--HEDOFFITMbocolor);
	
	border-width: var(--HEDOFFITMborderWidth);
	border-radius: var(--HEDOFFITMborderRadius);
	border-top-style: var(--HEDOFFITMborderTop);
	border-bottom-style: var(--HEDOFFITMborderBottom);
	border-left-style: var(--HEDOFFITMborderLeft);
	border-right-style: var(--HEDOFFITMborderRight);
} 
.editor-styles-wrapper > .is-root-container.wp-block-post-content [class^="menu"] li > ul a:not(.button) {
	font-size: var(--HEDOFFSUBfontSize); 
}
.editor-styles-wrapper > .is-root-container.wp-block-post-content [class^="menu"] li a img { 
	height: var(--HEDOFFMNUfontSize);
}