/**
 * Style the editor inside the footer template.
 * 
 * This file gets processed and affects everything in the admin view.
 */

.editor-styles-wrapper > .is-root-container.wp-block-post-content {
	margin: 0 auto;
	max-width: 98% !important;

	color: var(--HEDFOTtxtcolor) !important;
	background: var(--HEDFOTbgcolor) !important;
	padding: var(--HEDFOTtopbottom) var(--HEDFOTleftright) !important;
}
.editor-styles-wrapper .editor-post-title {
	max-width: 98% !important;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	color: var(--HEDFOThcolor);
}

.editor-styles-wrapper .menu li {
	width: auto;
	margin: 0;
	padding: 0 var(--HEDFOTITMmarginh) 0 0;
	align-items: flex-start;
}
/* center aligned menu */
.editor-styles-wrapper .menu_wrapper.menu_column_center .menu li,
.editor-styles-wrapper .menu_wrapper.menu_row_center .menu li{
	padding-top: 0;
	padding-bottom: 0;
	padding-left: calc(var(--HEDFOTITMmarginh) * 0.5);
	padding-right: calc(var(--HEDFOTITMmarginh) * 0.5);
}
/* right aligned menu */
.editor-styles-wrapper .menu_wrapper.menu_column_flex-end .menu li,
.editor-styles-wrapper .menu_wrapper.menu_row_flex-end .menu li{
	padding: 0 0 0 var(--HEDFOTITMmarginh);
}
.editor-styles-wrapper .menu li li {
	padding: 0px;
}
.editor-styles-wrapper .menu li > ul {
	padding: 0px 0px var(--HEDFOTSUBmargin) var(--HEDFOTSUBleft);
}
.editor-styles-wrapper .menu li > ul ul {
	padding-bottom: 0px;
}
.editor-styles-wrapper .menu li a {
	margin: 0 0 var(--HEDFOTITMmarginv);
}
.editor-styles-wrapper .menu li a:not(.button),
.editor-styles-wrapper .copyright a {
	color: var(--HEDFOTITMtxtcolor);
	background-color: var(--HEDFOTITMbgcolor);
	border-color: var(--HEDFOTITMbocolor);
}
.editor-styles-wrapper .menu li a:not(.button) {
	display: flex;
	align-items: center;
	padding: var(--HEDFOTITMtopbottom) var(--HEDFOTITMleftright);
	
	font-family: var(--HEDFOTMNUfontFamily);
	font-size: var(--HEDFOTMNUfontSize); 
	font-weight: var(--HEDFOTMNUfontWeight);
	line-height: var(--HEDFOTMNUlineHeight);
	letter-spacing: var(--HEDFOTMNUletterSpacing);
	word-spacing: var(--HEDFOTMNUwordSpacing);
	/* text-align: var(--HEDFOTMNUtextAlign); */
	text-transform: var(--HEDFOTMNUtextTransform);
	
	border-width: var(--HEDFOTITMborderWidth);
	border-radius: var(--HEDFOTITMborderRadius);
	border-top-style: var(--HEDFOTITMborderTop);
	border-bottom-style: var(--HEDFOTITMborderBottom);
	border-left-style: var(--HEDFOTITMborderLeft);
	border-right-style: var(--HEDFOTITMborderRight);
} 
.editor-styles-wrapper .menu li > ul a:not(.button) {
	font-size: var(--HEDFOTSUBfontSize); 
}
.editor-styles-wrapper .menu li a img { 
	height: var(--HEDFOTMNUfontSize);
}
.editor-styles-wrapper .menu li.current-menu-item a:not(.button):not(.anchor_item),
.editor-styles-wrapper .menu li.current-menu-item a:not(.button).current_anchor_item,
.editor-styles-wrapper .menu li.current_page_item a:not(.button):not(.anchor_item),
.editor-styles-wrapper .menu li.current_page_item a:not(.button).current_anchor_item {
	color: var(--HEDFOTITMtxtcolorAc);
	background-color: var(--HEDFOTITMbgcolorAc);
	border-color: var(--HEDFOTITMbocolorAc);
}
.editor-styles-wrapper .menu li.page_item a:not(.button):hover,
.editor-styles-wrapper .menu li.menu-item a:not(.button):hover,
.editor-styles-wrapper .menu li.menu-item a:not(.button).hover,
.editor-styles-wrapper .copyright a:not(.button):hover {
	color: var(--HEDFOTITMtxtcolorHv);
	background-color: var(--HEDFOTITMbgcolorHv);
	border-color: var(--HEDFOTITMbocolorHv);
}