/**
 * Blocks CSS for  Greyd List Blocks.
 * 
 * Contains general block styles. Is enqueued in the front- & backend.
 * This file does not get processed and is loaded *after* editor styles so it
 * will take precedence over editor-specific styles using the same selectors.
 */

 
/*    core List
__________________________________
*/
main ul, 
main ol,
.wp-block-list {
	margin-bottom: 1em;
}


/*    Greyd List
__________________________________
*/
.wp-block-greyd-list {
	display: block;
	float: none !important;
	max-width: 100%;
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 1em;
}
.wp-block-greyd-list li {
	/* width: fit-content; */
	max-width: 100%;
	margin-left: 0;
}
.wp-block-greyd-list.alignleft {
	text-align: left;
	margin: 0 auto 0 0;
}
.wp-block-greyd-list.alignleft li {
	margin-left: 0;
	margin-right: auto !important;
}
.wp-block-greyd-list.aligncenter {
	text-align: center;
	/* margin: 0 auto; */
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wp-block-greyd-list.aligncenter li {
	margin-left: auto !important;
	margin-right: auto !important;
}
.wp-block-greyd-list.alignright {
	text-align: right;
	/* margin: 0 0 0 auto; */
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.wp-block-greyd-list.alignright li {
	margin-left: auto !important;
	margin-right: 0;
}
.wp-block-greyd-list li:first-child {
	margin-top: 0px !important;
}
.wp-block-greyd-list .list_icon {
	display: inline-block;
}
.wp-block-greyd-list .list_content {
	display: inline-block; 
	margin: 0px; 
	width: 100%;
}
.wp-block-greyd-list .list_content p {
	margin: 0px;
}

ul [data-type="greyd/list-item"]:first-child {
	margin-top: 0px !important;
}