.greyd-media-wrapper {
	display: flex;
	width: 100%;
}

/* align support */
.is-layout-constrained [data-type="greyd/hotspot-wrapper"].wp-block.alignleft,
.is-layout-constrained [data-type="greyd/hotspot-wrapper"].wp-block.aligncenter,
.is-layout-constrained [data-type="greyd/hotspot-wrapper"].wp-block.alignright {
	margin: 0;
}

[data-type="greyd/hotspot-wrapper"].wp-block.alignleft,
[data-type="greyd/hotspot-wrapper"].wp-block.alignleft > div:not(.greyd-media-wrapper) {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

[data-type="greyd/hotspot-wrapper"].wp-block.aligncenter,
[data-type="greyd/hotspot-wrapper"].wp-block.aligncenter > div:not(.greyd-media-wrapper) {
	display: flex;
	justify-content: center;
	width: 100%;
}

[data-type="greyd/hotspot-wrapper"].wp-block.alignright,
[data-type="greyd/hotspot-wrapper"].wp-block.alignright > div:not(.greyd-media-wrapper) {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

/* spot */
.greyd-media-wrapper > .block-editor-inner-blocks,
.greyd-media-wrapper > .block-editor-inner-blocks > .block-editor-block-list__layout {
	position: absolute;
	inset: 0;
}

[data-type="greyd/hotspot-wrapper"] [data-type="greyd/hotspot"] {
	position: static;
}

[data-type="greyd/hotspot-wrapper"] .greyd-hotspot:is(.is-open, .isDragging) {
	transition: none !important;
}

/* selected vs. non-selected */
[data-type="greyd/hotspot-wrapper"]:is(.is-selected, .has-child-selected) .greyd-media-wrapper {
	z-index: 1;
}

[data-type="greyd/hotspot-wrapper"]:not(:is(.is-selected, .has-child-selected)) .popover {
	display: none !important;
}

/* cursor */
[data-type="greyd/hotspot-wrapper"]:is(.is-selected, .has-child-selected) .greyd-hotspot .spot {
	cursor: pointer;
}

[data-type="greyd/hotspot-wrapper"]:is(.is-selected, .has-child-selected) .greyd-hotspot.isDragging .spot {
	cursor: grabbing;
}

[data-type="greyd/hotspot-wrapper"].is-selected .greyd-media-wrapper.key-Alt {
	cursor: copy;
}

[data-type="greyd/hotspot-wrapper"]:is(.is-selected, .has-child-selected) .greyd-media-wrapper.key-Shift,
[data-type="greyd/hotspot-wrapper"]:is(.is-selected, .has-child-selected) .greyd-media-wrapper.key-Shift .greyd-hotspot .spot {
	cursor: no-drop;
}

/* info button */
.greyd-media-wrapper .components-button.hotspot-info-button {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #1e1e1e;
	background-color: rgba(255, 255, 255, .5);
}


/* childs */
.greyd-hotspot .popover > .block-editor-inner-blocks > .block-editor-block-list__layout > :first-child {
	margin-top: 0;
}

.greyd-hotspot .popover > .block-editor-inner-blocks > .block-editor-block-list__layout > *:last-child {
	margin-bottom: 0;
}

/* animations */
.greyd-hotspot .spot {
	opacity: 1;
	transition: none;
}

[data-type="greyd/hotspot-wrapper"]:not(.is-selected, .has-child-selected) .greyd-hotspot .spot {
	animation-name: none !important;
}

.greyd-hotspot .spot.hotspot-pulse {
	animation-name: hotspot-pulse;
}

.greyd-hotspot .spot.hotspot-blink {
	animation-name: hotspot-blink;
}

.greyd-hotspot .spot.hotspot-wobble {
	animation-name: hotspot-wobble;
}