/**
 * Editor admin CSS for Layout Features.
 * 
 * This file does not gets processed and affects everything on the admin screen.
 */
.is-hidden,
.wp-block-group.is-hidden,
.wp-block-columns.is-hidden {
	opacity: 0.35;
}

/* disable animations in preview iframes  */
/* iframe + .is-root-container.wp-block-post-content .wpb_animate_when_almost_visible, */
.editor-styles-wrapper.wp-embed-responsive .wpb_animate_when_almost_visible,
.editor-styles-wrapper.wp-embed-responsive .animate-when-almost-visible {
	opacity: 1 !important;
}

.editor-styles-wrapper .block-editor-block-list__block.wp-block-column:not(:first-child),
.editor-styles-wrapper .block-editor-block-list__block.wp-block-column:nth-child(2n) {
	margin-left: 0px;
}

/* pattern */
.custom-select-pattern-type {
	text-shadow: 
	-1px  2px 1px #fff,  0px  2px 1px #fff, 1px  2px 1px #fff,
	-2px  1px 1px #fff, -1px  1px 1px #fff, 0px  1px 1px #fff, 1px  1px 1px #fff, 2px  1px 1px #fff, 
	-2px  0px 1px #fff, -1px  0px 1px #fff, 0px  0px 1px #fff, 1px  0px 1px #fff, 2px  0px 1px #fff,
	-2px -1px 1px #fff, -1px -1px 1px #fff, 0px -1px 1px #fff, 1px -1px 1px #fff, 2px -1px 1px #fff, 
	-1px -2px 1px #fff,  0px -2px 1px #fff, 1px -2px 1px #fff;
	/* font-size: 16px; */
}
/* seperator svg */
.custom-select-seperator-type.components-custom-select-control__item .components-custom-select-control__item-icon {
	margin-left: -25px;
	margin-top: 20px;
}
svg.svg_mirror_x {
	transform: scaleX(-1);
}
svg.svg_mirror_y {
	transform: scaleY(-1);
}
svg.svg_mirror_xy {
	transform: scale(-1);
}
.seperatorselect .components-custom-select-control__button > span > svg {
	display: none;
}


/**
 * GridControl component
 */
.greyd-grid-control {
	--color-default: #eaeaea;
	--color-active: #1e1e1e;
	width: 100%;
}

/* slider */
.greyd-grid-control--slider {
	position: relative;
	width: 100%;
	height: 20px;
	gap: 2px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

/* input */
.greyd-grid-control--slider input[type=range] {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	opacity: 0;
	-webkit-appearance: none;
}

/* thumbs */
.greyd-grid-control--slider-thumb {
	flex: 1 1 10px;
	border-radius: .1em;
	background-color: var(--color-default);
}
.greyd-grid-control--slider-thumb.is-active {
	background-color: var(--color-active);
	color: #fff;
}
.greyd-grid-control--slider-thumb:is( :nth-child(4), :nth-child(8) ) {
	margin-right: 4px;
}

/* buttons */
.greyd-grid-control--buttons {
	margin: 6px 0 var(--basic-margin);
	display: flex;
	gap: 6px;
	justify-content: flex-end;
}
.greyd-grid-control--buttons .components-button {
	height: 24px;
	font-size: 11px;
	box-shadow: none !important;
	outline: none !important;
	background-color: var(--color-default);
}
.greyd-grid-control--buttons .components-button.is-active {
	background-color: var(--color-active);
	color: #fff;
}