/**
 * Editor CSS for Layout Features.
 * Style blocks only inside the editor.
 * 
 * This file gets processed and only affects blocks inside .editor-styles-wrapper
 */

/*    Hidden elements
__________________________________
*/
.is-hidden,
.wp-block-group.is-hidden,
.wp-block-columns.is-hidden {
    opacity: 0.35;
}


/*    Fix the float alignments
__________________________________
*/
html :where(.wp-block)[data-align] > * {
	float: none !important;
}
.wp-block.alignleft,
.wp-block.aligncenter,
.wp-block.alignright {
	height: auto;
}
.wp-block.alignleft > *, .wp-block.alignright > * {
	z-index: inherit;
}
html :where(.wp-block.alignright) > * {
	margin-left: 0;
}
html :where(.wp-block.alignleft) > * {
	margin-right: 0;
}
html p.wp-block {
	margin-left: 0;
	margin-right: 0;
}

/*    Fix alignments
__________________________________
*/
/* .alignleft {
	float: none !important;
	margin: 0 auto 0 0;
}
.alignright {
	float: none !important;
	display: block;
	margin: 0 0 0 auto;
}
.aligncenter {
	float: none !important;
	margin: 0 auto;
} */
.wp-block.alignleft > .wp-block-greyd-list,
.wp-block.alignleft > .wp-block-greyd-iframe,
.wp-block.alignleft > .wp-block-embed,
.wp-block.alignleft > .wp-block-video,
.wp-block.alignleft > .wp-block-image {
	text-align: left;
	max-width: 100%;
	margin: 0 auto 0 0;
	float: none !important;
}
.wp-block.alignleft > .wp-block-greyd-list li {
	margin-left: 0;
	margin-right: auto !important;
}
.wp-block.alignleft > .wp-block-greyd-list .list_content,
.wp-block.alignleft > .wp-block-greyd-anim,
.wp-block-greyd-anim.alignleft {
	text-align: left;
	float: none !important;
}
.wp-block.aligncenter > .wp-block-greyd-list,
.wp-block.aligncenter > .wp-block-greyd-iframe,
.wp-block.aligncenter > .wp-block-embed,
.wp-block.aligncenter > .wp-block-video,
.wp-block.aligncenter > .wp-block-image {
	text-align: center;
	max-width: 100%;
	margin: 0 auto;
	float: none !important;
}
.wp-block.aligncenter > .wp-block-greyd-list li {
	margin-left: auto !important;
	margin-right: auto !important;
}
.wp-block.aligncenter > .wp-block-greyd-list .list_content,
.wp-block.aligncenter > .wp-block-greyd-anim,
.wp-block-greyd-anim.aligncenter {
	text-align: center;
	float: none !important;
}
.wp-block.alignright > .wp-block-greyd-list,
.wp-block.alignright > .wp-block-greyd-iframe,
.wp-block.alignright > .wp-block-embed,
.wp-block.alignright > .wp-block-video,
.wp-block.alignright > .wp-block-image {
	text-align: right;
	max-width: 100%;
	margin: 0 0 0 auto;
	float: none !important;
}
.wp-block.alignright > .wp-block-greyd-list li {
	margin-left: auto !important;
	margin-right: 0;
}
.wp-block.alignright > .wp-block-greyd-list .list_content,
.wp-block.alignright > .wp-block-greyd-anim,
.wp-block-greyd-anim.alignright {
	text-align: right;
	float: none !important;
}


/*    Hidden columns per breakpoint
__________________________________
*/
@media (max-width: 576px) {
	.hidden-xs,
	.wp-block-column.hidden-xs {
		opacity: 0.35;
		display: block !important;
	}
	.wp-block[data-type="greyd/dynamic"]  .wp-block-column.hidden-xs {
		display: none !important;
	}
}
@media (min-width: 576px) and (max-width: 992px) {
	.hidden-sm,
	.wp-block-column.hidden-sm {
		opacity: 0.35;
		display: block !important;
	}
	.wp-block[data-type="greyd/dynamic"]  .wp-block-column.hidden-sm {
		display: none !important;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.hidden-md,
	.wp-block-column.hidden-md{
		opacity: 0.35;
		display: block !important;
	}
	.wp-block[data-type="greyd/dynamic"]  .wp-block-column.hidden-md {
		display: none !important;
	}
}
@media (min-width: 1200px) {
	.hidden-lg,
	.wp-block-column.hidden-lg {
		opacity: 0.35;
		display: block !important;
	}
	.wp-block[data-type="greyd/dynamic"]  .wp-block-column.hidden-lg {
		display: none !important;
	}
}


/*    stretch-content
__________________________________
*/
@media (max-width: 576px) {
	.flex-stretch-content-sm .wp-block-column > .wp-block[data-type="greyd/box"],
	.flex-stretch-content-sm .wp-block-column > .wp-block[data-type="greyd/dynamic"],
	.flex-stretch-content-sm .wp-block-column > .wp-block[data-type="greyd/dynamic"] > *,
	.flex-stretch-content-sm .wp-block-column > .wp-block[data-type="greyd/dynamic"] > * > *,
	.flex-stretch-content-sm .wp-block-column > .wp-block[data-type="greyd/dynamic"] > * > * > .block-editor-inner-blocks,
	.flex-stretch-content-sm .wp-block-column > .wp-block[data-type="greyd/dynamic"] > * > * > .block-editor-inner-blocks > .block-editor-block-list__layout,
	.flex-stretch-content-sm .wp-block-column > .wp-block[data-type="greyd/dynamic"] > * > * > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block[data-type="greyd/box"]
	{
		display: flex;
		flex-direction: column;
		align-items: stretch;
		flex: 1;
	}
	.wp-block-columns.flex-stretch-content-sm {
		align-items: stretch !important;
	}
	.flex-stretch-content-sm .wp-block-column > .wp-block[data-type="greyd/box"] .wp-block[data-type="core/columns"] {
		flex-direction: row;
	}

}
@media (max-width: 992px) {
	.flex-stretch-content-md .wp-block-column > .wp-block[data-type="greyd/box"],
	.flex-stretch-content-md .wp-block-column > .wp-block[data-type="greyd/dynamic"],
	.flex-stretch-content-md .wp-block-column > .wp-block[data-type="greyd/dynamic"] > *,
	.flex-stretch-content-md .wp-block-column > .wp-block[data-type="greyd/dynamic"] > * > *,
	.flex-stretch-content-md .wp-block-column > .wp-block[data-type="greyd/dynamic"] > * > * > .block-editor-inner-blocks,
	.flex-stretch-content-md .wp-block-column > .wp-block[data-type="greyd/dynamic"] > * > * > .block-editor-inner-blocks > .block-editor-block-list__layout,
	.flex-stretch-content-md .wp-block-column > .wp-block[data-type="greyd/dynamic"] > * > * > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block[data-type="greyd/box"]
	{
		display: flex;
		flex-direction: column;
		align-items: stretch;
		flex: 1;
	}
	.wp-block-columns.flex-stretch-content-md {
		align-items: stretch !important;
	}
	.flex-stretch-content-md .wp-block-column > .wp-block[data-type="greyd/box"] .wp-block[data-type="core/columns"] {
		flex-direction: row;
	}
}
@media (min-width: 1200px) {
	.flex-stretch-content-lg .wp-block-column > .wp-block[data-type="greyd/box"],
	.flex-stretch-content-lg .wp-block-column > .wp-block[data-type="greyd/dynamic"],
	.flex-stretch-content-lg .wp-block-column > .wp-block[data-type="greyd/dynamic"] > *,
	.flex-stretch-content-lg .wp-block-column > .wp-block[data-type="greyd/dynamic"] > * > *,
	.flex-stretch-content-lg .wp-block-column > .wp-block[data-type="greyd/dynamic"] > * > * > .block-editor-inner-blocks,
	.flex-stretch-content-lg .wp-block-column > .wp-block[data-type="greyd/dynamic"] > * > * > .block-editor-inner-blocks > .block-editor-block-list__layout,
	.flex-stretch-content-lg .wp-block-column > .wp-block[data-type="greyd/dynamic"] > * > * > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block[data-type="greyd/box"]
	{
		display: flex;
		flex-direction: column;
		align-items: stretch;
		flex: 1;
	}
	.wp-block-columns.flex-stretch-content-lg {
		align-items: stretch !important;
	}
	.flex-stretch-content-lg .wp-block-column > .wp-block[data-type="greyd/box"] > .wp-block[data-type="core/columns"] {
		flex-direction: row;
	}
}


/*    justify-content
__________________________________
*/
.greyd-content-box:where(
	.flex-justify-space-between,
	.flex-justify-space-around,
	.flex-justify-space-center,
	.flex-justify-space-flex-start,
	.flex-justify-space-flex-end,
),
.greyd-content-box:where(
	.flex-justify-space-between,
	.flex-justify-space-around,
	.flex-justify-space-center,
	.flex-justify-space-flex-start,
	.flex-justify-space-flex-end,
) > .wp-block-greyd-box,
.greyd-content-box:where(
	.flex-justify-space-between,
	.flex-justify-space-around,
	.flex-justify-space-center,
	.flex-justify-space-flex-start,
	.flex-justify-space-flex-end,
) > .wp-block-greyd-box > .block-editor-inner-blocks,
.greyd-content-box:where(
	.flex-justify-space-between,
	.flex-justify-space-around,
	.flex-justify-space-center,
	.flex-justify-space-flex-start,
	.flex-justify-space-flex-end,
) > .wp-block-greyd-box > .block-editor-inner-blocks > .block-editor-block-list__layout
{
	display: flex;
	flex-direction: column;
	flex: 1;
}
.greyd-content-box:where(
	.flex-justify-space-between,
	.flex-justify-space-around,
	.flex-justify-space-center,
	.flex-justify-space-flex-start,
	.flex-justify-space-flex-end,
) > .wp-block-greyd-box > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
	flex: 0;
}
.greyd-content-box.flex-justify-space-between > .wp-block-greyd-box > .block-editor-inner-blocks > .block-editor-block-list__layout {
	justify-content: space-between;
}
.greyd-content-box.flex-justify-space-around > .wp-block-greyd-box > .block-editor-inner-blocks > .block-editor-block-list__layout {
	justify-content: space-around;
}
.greyd-content-box.flex-justify-center > .wp-block-greyd-box > .block-editor-inner-blocks > .block-editor-block-list__layout {
	justify-content: center;
}
.greyd-content-box.flex-justify-flex-end > .wp-block-greyd-box > .block-editor-inner-blocks > .block-editor-block-list__layout {
	justify-content: flex-end;
}


/*    Columns
__________________________________
*/
/* background padding */
:where( .row_wrap:has( > .greyd-background ) > .wp-block-columns ) {
	padding-block: var(--wp--style--block-gap);
}


/*    Columns Style: Bootstrap
__________________________________
*/
.row_wrap:has( > .wp-block-columns.is-style-bootstrap ) {
	--gap: calc( var(--wp--style--root--padding-right) / 2 );
}