/**
 * Grid Styles frontend and editor.
 * 
 * This style is loaded in the frontend & the editor.
 *
 * @package Greyd
 */


/*    Row Wrap
__________________________________
*/

.row_wrap {
	position: relative;
	margin-inline: 0;
	max-width: none;
}

.has-global-padding > .row_wrap:not( .alignfull ) {
	margin-left: calc(var(--wp--style--root--padding-right) * -1) !important;
	margin-right: calc(var(--wp--style--root--padding-right) * -1) !important;
	max-width: none !important;
}

.is-layout-constrained > .row_wrap:not( .alignfull ) {
	margin-left: 0 !important;
	margin-right: 0 !important;
	max-width: none !important;
}

.is-layout-constrained > .row_wrap > .wp-block-columns {
	max-width: var(--wp--style--global--content-size);
	margin-inline: auto;
}

.is-layout-constrained > .row_wrap > .wp-block-columns.alignwide {
	max-width: var(--wp--style--global--wide-size);
	margin-inline: auto;
}

.is-layout-constrained > .row_wrap > .wp-block-columns.alignfull {
	max-width: none;
}


/*    Dynamic Template
__________________________________
*/
.is-layout-constrained > .dynamic:has( > .alignwide ) {
	margin-left: 0 !important;
	margin-right: 0 !important;
	max-width: none !important;
}

.is-layout-constrained > .dynamic:has( > .alignfull ),
.has-global-padding > .dynamic:has( > .alignfull ) {
	margin-right: calc(var(--wp--style--root--padding-right) * -1) !important;
	margin-left: calc(var(--wp--style--root--padding-left) * -1) !important;
	max-width: none !important;
}


/*    Columns
__________________________________
*/
.wp-block-columns {
	display: flex;
	flex-wrap: wrap !important;
}

.wp-block-columns > * {
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
}

.wp-block-columns.is-not-stacked-on-mobile,
.row_wrap .wp-block-columns.is-not-stacked-on-mobile {
	flex-wrap: wrap !important;
}

/* background padding */
:where( .row_wrap.has-background > .wp-block-columns ) {
	padding-block: var(--wp--style--block-gap);
	padding-inline: 0;
}


/*    Columns Style: Bootstrap
__________________________________
*/
.row_wrap.is-style-bootstrap {
	--gap: calc( var(--wp--style--root--padding-right) / 2 );
}

.wp-block-columns.is-style-bootstrap {
	gap: 0;
}

.is-layout-constrained > .row_wrap > .wp-block-columns.is-style-bootstrap:not(.alignfull) {
	max-width: calc( var(--wp--style--global--content-size) + var(--gap) + var(--gap) ) !important;
}

.is-layout-constrained > .row_wrap > .wp-block-columns.is-style-bootstrap.alignwide {
	max-width: calc( var(--wp--style--global--wide-size) + var(--gap) + var(--gap) ) !important;
}

.wp-block-columns.is-style-bootstrap > .wp-block-column {
	padding-inline: var(--gap);
}

/* when parent is constrained */
.is-layout-constrained > .row_wrap.is-style-bootstrap:not( .alignfull ) {
	margin-left: calc( var(--gap) * -1 ) !important;
	margin-right: calc( var(--gap) * -1 ) !important;
}


/*    Column
__________________________________
*/
.wp-block-column {
	position: relative;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0 !important;
}

/* .wp-block-column[class*="col-"] {
    flex-grow: 0;
} */

/* hidden columns per breakpoint */
@media (max-width: 576px) {
	.hidden-xs,
	.wp-block-column.wp-block-column.hidden-xs {
		display: none !important;
	}
}

@media (min-width: 576px) and (max-width: 992px) {
	.hidden-sm,
	.wp-block-column.wp-block-column.hidden-sm {
		display: none !important;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.hidden-md,
	.wp-block-column.wp-block-column.hidden-md {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	.hidden-lg,
	.wp-block-column.wp-block-column.hidden-lg {
		display: none !important;
	}
}


/*    Columns: stretch-content
__________________________________
*/
@media (min-width: 576px) {
	.wp-block-columns.flex-stretch-content-sm {
		align-items: stretch !important;
	}

	.flex-stretch-content-sm .wp-block-column,
	.flex-stretch-content-sm .row_wrap,
	.flex-stretch-content-sm .wp-block-columns,
	.flex-stretch-content-sm .dynamic,
	.flex-stretch-content-sm .greyd-content-box,
	.flex-stretch-content-sm .wp-block-greyd-box,
	.flex-stretch-content-sm .group_wrap,
	:where( .flex-stretch-content-sm .wp-block-group:not(.is-layout-flex, [id^="wp-container-"]) ),
	.flex-stretch-content-sm .wp-block-group__inner-container {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		flex: 1;
	}

	.flex-stretch-content-sm .query-post {
		display: flex;
		align-items: stretch;
		flex: 0 0 auto;
	}
	
	.flex-stretch-content-sm .wp-block-column > .greyd-content-box .wp-block-columns {
		flex-direction: row;
	}
}

@media (min-width: 992px) {
	.wp-block-columns.flex-stretch-content-md {
		align-items: stretch !important;
	}

	.flex-stretch-content-md .wp-block-column,
	.flex-stretch-content-md .row_wrap,
	.flex-stretch-content-md .wp-block-columns,
	.flex-stretch-content-md .dynamic,
	.flex-stretch-content-md .greyd-content-box,
	.flex-stretch-content-md .wp-block-greyd-box,
	.flex-stretch-content-md .group_wrap,
	:where( .flex-stretch-content-md .wp-block-group:not(.is-layout-flex, [id^="wp-container-"]) ),
	.flex-stretch-content-md .wp-block-group__inner-container {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		flex: 1;
	}

	.flex-stretch-content-md .query-post {
		display: flex;
		align-items: stretch;
		flex: 0 0 auto;
	}
	
	.flex-stretch-content-md .wp-block-column > .greyd-content-box .wp-block-columns {
		flex-direction: row;
	}
}

@media (min-width: 1200px) {
	.wp-block-columns.flex-stretch-content-lg {
		align-items: stretch !important;
	}

	.flex-stretch-content-lg .wp-block-column,
	.flex-stretch-content-lg .row_wrap,
	.flex-stretch-content-lg .wp-block-columns,
	.flex-stretch-content-lg .dynamic,
	.flex-stretch-content-lg .greyd-content-box,
	.flex-stretch-content-lg .wp-block-greyd-box,
	.flex-stretch-content-lg .group_wrap,
	:where( .flex-stretch-content-lg .wp-block-group:not(.is-layout-flex, [id^="wp-container-"]) ),
	.flex-stretch-content-lg .wp-block-group__inner-container {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		flex: 1;
	}

	.flex-stretch-content-lg .query-post {
		display: flex;
		align-items: stretch;
		flex: 0 0 auto;
	}
	
	.flex-stretch-content-lg .wp-block-column > .greyd-content-box .wp-block-columns {
		flex-direction: row;
	}
}



/**
 * --------------------------------------------------------------------------------------------------------------------
 * 
 * Bootstrap Grid v5.0.0-beta3 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 * Modified by Greyd.Dev 2022
 * 
 * --------------------------------------------------------------------------------------------------------------------
 */

/* grid */
.wp-block-columns.row-cols-auto > *,
.wp-block-column.wp-block-column.col-auto {
	/* flex: 1 0 0% !important; */
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0 !important;
}

.wp-block-columns.row-cols-1 > *,
.wp-block-columns.row-cols-2 > *,
.wp-block-columns.row-cols-3 > *,
.wp-block-columns.row-cols-4 > *,
.wp-block-columns.row-cols-5 > *,
.wp-block-columns.row-cols-6 > *,
.wp-block-column.wp-block-column.col-1,
.wp-block-column.wp-block-column.col-2,
.wp-block-column.wp-block-column.col-3,
.wp-block-column.wp-block-column.col-4,
.wp-block-column.wp-block-column.col-5,
.wp-block-column.wp-block-column.col-6,
.wp-block-column.wp-block-column.col-7,
.wp-block-column.wp-block-column.col-8,
.wp-block-column.wp-block-column.col-9,
.wp-block-column.wp-block-column.col-10,
.wp-block-column.wp-block-column.col-11,
.wp-block-column.wp-block-column.col-12,
.wp-block-column.wp-block-column.col-5\/5,
.wp-block-column.wp-block-column.col-4\/5,
.wp-block-column.wp-block-column.col-3\/5,
.wp-block-column.wp-block-column.col-2\/5,
.wp-block-column.wp-block-column.col-1\/5 {
	/* flex: 0 0 auto !important; */
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto !important;
}

/**
 * Core Overwrites:
 * 
 * Stretch auto-columns automatically even when they have a
 * fixed width (from core control) set manually.
 */
.wp-block-columns.row-cols-auto > .wp-block-column[style*=flex-basis],
.wp-block-columns > .wp-block-column[style*=flex-basis].col-auto,
.wp-block-columns > .wp-block-column[style*=flex-basis].col {
	flex-grow: 1;
}

/**
 * Fix core overwrites:
 * .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column[style*=flex-basis]
 */
.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column[style*=flex-basis]:not([class*=col-]) {
	flex-grow: 1;
}

.wp-block-columns.is-not-stacked-on-mobile  >.wp-block-column[style*=flex-basis]:not([class*=col-]) {
	flex-basis: auto !important;
}

.wp-block-columns.row-cols-auto > * {
	width: auto !important;
}

.wp-block-columns.row-cols-1 > * {
	width: 100% !important;
}

.wp-block-columns.row-cols-2 > * {
	width: 50% !important;
}

.wp-block-columns.row-cols-3 > * {
	width: 33.3333333333% !important;
}

.wp-block-columns.row-cols-4 > * {
	width: 25% !important;
}

.wp-block-columns.row-cols-5 > * {
	width: 20% !important;
}

.wp-block-columns.row-cols-6 > * {
	width: 16.6666666667% !important;
}

.wp-block-column.wp-block-column.col-auto {
	width: auto !important;
	/* flex: 1 0 0% !important; */
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0 !important;
}

.wp-block-column.wp-block-column.col-1 {
	width: 8.3333333333% !important;
}

.wp-block-column.wp-block-column.col-2 {
	width: 16.6666666667% !important;
}

.wp-block-column.wp-block-column.col-3 {
	width: 25% !important;
}

.wp-block-column.wp-block-column.col-4 {
	width: 33.3333333333% !important;
}

.wp-block-column.wp-block-column.col-5 {
	width: 41.6666666667% !important;
}

.wp-block-column.wp-block-column.col-6 {
	width: 50% !important;
}

.wp-block-column.wp-block-column.col-7 {
	width: 58.3333333333% !important;
}

.wp-block-column.wp-block-column.col-8 {
	width: 66.6666666667% !important;
}

.wp-block-column.wp-block-column.col-9 {
	width: 75% !important;
}

.wp-block-column.wp-block-column.col-10 {
	width: 83.3333333333% !important;
}

.wp-block-column.wp-block-column.col-11 {
	width: 91.6666666667% !important;
}

.wp-block-column.wp-block-column.col-12 {
	width: 100% !important;
}

.wp-block-column.wp-block-column.col-5\/5 {
	width: 100% !important;
}

.wp-block-column.wp-block-column.col-4\/5 {
	width: 80% !important;
}

.wp-block-column.wp-block-column.col-3\/5 {
	width: 60% !important;
}

.wp-block-column.wp-block-column.col-2\/5 {
	width: 40% !important;
}

.wp-block-column.wp-block-column.col-1\/5 {
	width: 20% !important;
}

.offset-1 {
	margin-left: 8.3333333333% !important;
}

.offset-2 {
	margin-left: 16.6666666667% !important;
}

.offset-3 {
	margin-left: 25% !important;
}

.offset-4 {
	margin-left: 33.3333333333% !important;
}

.offset-5 {
	margin-left: 41.6666666667% !important;
}

.offset-6 {
	margin-left: 50% !important;
}

.offset-7 {
	margin-left: 58.3333333333% !important;
}

.offset-8 {
	margin-left: 66.6666666667% !important;
}

.offset-9 {
	margin-left: 75% !important;
}

.offset-10 {
	margin-left: 83.3333333333% !important;
}

.offset-11 {
	margin-left: 91.6666666667% !important;
}

.offset-5\/5 {
	margin-left: 100% !important;
}

.offset-4\/5 {
	margin-left: 80% !important;
}

.offset-3\/5 {
	margin-left: 60% !important;
}

.offset-2\/5 {
	margin-left: 40% !important;
}

.offset-1\/5 {
	margin-left: 20% !important;
}

.offset-0\/5 {
	margin-left: 0 !important;
}

.pull-12 {
	right: 100%;
}

.pull-11 {
	right: 91.66666667%;
}

.pull-10 {
	right: 83.33333333%;
}

.pull-9 {
	right: 75%;
}

.pull-8 {
	right: 66.66666667%;
}

.pull-7 {
	right: 58.33333333%;
}

.pull-6 {
	right: 50%;
}

.pull-5 {
	right: 41.66666667%;
}

.pull-4 {
	right: 33.33333333%;
}

.pull-3 {
	right: 25%;
}

.pull-2 {
	right: 16.66666667%;
}

.pull-1 {
	right: 8.33333333%;
}

.pull-0 {
	right: auto;
}

.pull-5\/5 {
	right: 100%;
}

.pull-4\/5 {
	right: 80%;
}

.pull-3\/5 {
	right: 60%;
}

.pull-2\/5 {
	right: 40%;
}

.pull-1\/5 {
	right: 20%;
}

.pull-0\/5 {
	right: auto;
}

.push-12 {
	left: 100%;
}

.push-11 {
	left: 91.66666667%;
}

.push-10 {
	left: 83.33333333%;
}

.push-9 {
	left: 75%;
}

.push-8 {
	left: 66.66666667%;
}

.push-7 {
	left: 58.33333333%;
}

.push-6 {
	left: 50%;
}

.push-5 {
	left: 41.66666667%;
}

.push-4 {
	left: 33.33333333%;
}

.push-3 {
	left: 25%;
}

.push-2 {
	left: 16.66666667%;
}

.push-1 {
	left: 8.33333333%;
}

.push-0 {
	left: auto;
}

.push-5\/5 {
	left: 100%;
}

.push-4\/5 {
	left: 80%;
}

.push-3\/5 {
	left: 60%;
}

.push-2\/5 {
	left: 40%;
}

.push-1\/5 {
	left: 20%;
}

.push-0\/5 {
	left: auto;
}

.order-first {
	order: -1 !important;
}

.order-0 {
	order: 0 !important;
}

.order-1 {
	order: 1 !important;
}

.order-2 {
	order: 2 !important;
}

.order-3 {
	order: 3 !important;
}

.order-4 {
	order: 4 !important;
}

.order-5 {
	order: 5 !important;
}

.order-last {
	order: 6 !important;
}

/* first device width (mobile) */
@media (max-width: 576px) {

	.wp-block-column,
	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
		flex-basis: 100%;
	}
}

/* second device width (tablet) */
@media (min-width: 576px) {

	.wp-block-columns.row-cols-sm-auto > *,
	.wp-block-column.wp-block-column.col-sm-auto,
	.wp-block-column.wp-block-column.col-sm {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 0 !important;
	}

	/**
	 * Core Overwrites:
	 * 
	 * (1) Do not stretch columns that have a bootstrap-width set but
	 *     are set to auto on smaller breakpoints.
	 * (2) Stretch auto-columns automatically even when they have a
	 *     fixed width (from core control) set manually.
	 */
	/* (1) */
	.wp-block-columns.row-cols-auto > .wp-block-column[class*=col-sm-]:not(.col-sm-auto),
	.wp-block-columns > .wp-block-column.col-auto[class*=col-sm-]:not(.col-sm-auto),
	.wp-block-columns > .wp-block-column.col[class*=col-sm-]:not(.col-sm-auto) {
		flex-grow: 0;
	}

	/* (2) */
	.wp-block-columns.row-cols-sm-auto > .wp-block-column[style*=flex-basis],
	.wp-block-columns > .wp-block-column[style*=flex-basis].col-sm-auto,
	.wp-block-columns > .wp-block-column[style*=flex-basis].col-sm,
	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column[style*=flex-basis]:not([class*="col-"]) {
		flex-grow: 1;
	}

	.wp-block-columns.row-cols-sm-1 > *,
	.wp-block-columns.row-cols-sm-2 > *,
	.wp-block-columns.row-cols-sm-3 > *,
	.wp-block-columns.row-cols-sm-4 > *,
	.wp-block-columns.row-cols-sm-5 > *,
	.wp-block-columns.row-cols-sm-6 > *,
	.wp-block-column.wp-block-column.col-sm-1,
	.wp-block-column.wp-block-column.col-sm-2,
	.wp-block-column.wp-block-column.col-sm-3,
	.wp-block-column.wp-block-column.col-sm-4,
	.wp-block-column.wp-block-column.col-sm-5,
	.wp-block-column.wp-block-column.col-sm-6,
	.wp-block-column.wp-block-column.col-sm-7,
	.wp-block-column.wp-block-column.col-sm-8,
	.wp-block-column.wp-block-column.col-sm-9,
	.wp-block-column.wp-block-column.col-sm-10,
	.wp-block-column.wp-block-column.col-sm-11,
	.wp-block-column.wp-block-column.col-sm-12,
	.wp-block-column.wp-block-column.col-sm-5\/5,
	.wp-block-column.wp-block-column.col-sm-4\/5,
	.wp-block-column.wp-block-column.col-sm-3\/5,
	.wp-block-column.wp-block-column.col-sm-2\/5,
	.wp-block-column.wp-block-column.col-sm-1\/5 {
		/* flex: 0 0 auto !important; */
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto !important;
	}

	.wp-block-columns.row-cols-sm-auto > * {
		width: auto !important;
	}

	.wp-block-columns.row-cols-sm-1 > * {
		width: 100% !important;
	}

	.wp-block-columns.row-cols-sm-2 > * {
		width: 50% !important;
	}

	.wp-block-columns.row-cols-sm-3 > * {
		width: 33.3333333333% !important;
	}

	.wp-block-columns.row-cols-sm-4 > * {
		width: 25% !important;
	}

	.wp-block-columns.row-cols-sm-5 > * {
		width: 20% !important;
	}

	.wp-block-columns.row-cols-sm-6 > * {
		width: 16.6666666667% !important;
	}

	.wp-block-column.wp-block-column.col-sm-auto {
		width: auto !important;
	}

	.wp-block-column.wp-block-column.col-sm-1 {
		width: 8.3333333333% !important;
	}

	.wp-block-column.wp-block-column.col-sm-2 {
		width: 16.6666666667% !important;
	}

	.wp-block-column.wp-block-column.col-sm-3 {
		width: 25% !important;
	}

	.wp-block-column.wp-block-column.col-sm-4 {
		width: 33.3333333333% !important;
	}

	.wp-block-column.wp-block-column.col-sm-5 {
		width: 41.6666666667% !important;
	}

	.wp-block-column.wp-block-column.col-sm-6 {
		width: 50% !important;
	}

	.wp-block-column.wp-block-column.col-sm-7 {
		width: 58.3333333333% !important;
	}

	.wp-block-column.wp-block-column.col-sm-8 {
		width: 66.6666666667% !important;
	}

	.wp-block-column.wp-block-column.col-sm-9 {
		width: 75% !important;
	}

	.wp-block-column.wp-block-column.col-sm-10 {
		width: 83.3333333333% !important;
	}

	.wp-block-column.wp-block-column.col-sm-11 {
		width: 91.6666666667% !important;
	}

	.wp-block-column.wp-block-column.col-sm-12 {
		width: 100% !important;
	}

	.wp-block-column.wp-block-column.col-sm-5\/5 {
		width: 100% !important;
	}

	.wp-block-column.wp-block-column.col-sm-4\/5 {
		width: 80% !important;
	}

	.wp-block-column.wp-block-column.col-sm-3\/5 {
		width: 60% !important;
	}

	.wp-block-column.wp-block-column.col-sm-2\/5 {
		width: 40% !important;
	}

	.wp-block-column.wp-block-column.col-sm-1\/5 {
		width: 20% !important;
	}

	.offset-sm-0 {
		margin-left: 0 !important;
	}

	.offset-sm-1 {
		margin-left: 8.3333333333% !important;
	}

	.offset-sm-2 {
		margin-left: 16.6666666667% !important;
	}

	.offset-sm-3 {
		margin-left: 25% !important;
	}

	.offset-sm-4 {
		margin-left: 33.3333333333% !important;
	}

	.offset-sm-5 {
		margin-left: 41.6666666667% !important;
	}

	.offset-sm-6 {
		margin-left: 50% !important;
	}

	.offset-sm-7 {
		margin-left: 58.3333333333% !important;
	}

	.offset-sm-8 {
		margin-left: 66.6666666667% !important;
	}

	.offset-sm-9 {
		margin-left: 75% !important;
	}

	.offset-sm-10 {
		margin-left: 83.3333333333% !important;
	}

	.offset-sm-11 {
		margin-left: 91.6666666667% !important;
	}

	.offset-sm-5\/5 {
		margin-left: 100% !important;
	}

	.offset-sm-4\/5 {
		margin-left: 80% !important;
	}

	.offset-sm-3\/5 {
		margin-left: 60% !important;
	}

	.offset-sm-2\/5 {
		margin-left: 40% !important;
	}

	.offset-sm-1\/5 {
		margin-left: 20% !important;
	}

	.offset-sm-0\/5 {
		margin-left: 0 !important;
	}

	.pull-sm-12 {
		right: 100%;
	}

	.pull-sm-11 {
		right: 91.66666667%;
	}

	.pull-sm-10 {
		right: 83.33333333%;
	}

	.pull-sm-9 {
		right: 75%;
	}

	.pull-sm-8 {
		right: 66.66666667%;
	}

	.pull-sm-7 {
		right: 58.33333333%;
	}

	.pull-sm-6 {
		right: 50%;
	}

	.pull-sm-5 {
		right: 41.66666667%;
	}

	.pull-sm-4 {
		right: 33.33333333%;
	}

	.pull-sm-3 {
		right: 25%;
	}

	.pull-sm-2 {
		right: 16.66666667%;
	}

	.pull-sm-1 {
		right: 8.33333333%;
	}

	.pull-sm-0 {
		right: auto;
	}

	.pull-sm-5\/5 {
		right: 100%;
	}

	.pull-sm-4\/5 {
		right: 80%;
	}

	.pull-sm-3\/5 {
		right: 60%;
	}

	.pull-sm-2\/5 {
		right: 40%;
	}

	.pull-sm-1\/5 {
		right: 20%;
	}

	.pull-sm-0\/5 {
		right: auto;
	}

	.push-sm-12 {
		left: 100%;
	}

	.push-sm-11 {
		left: 91.66666667%;
	}

	.push-sm-10 {
		left: 83.33333333%;
	}

	.push-sm-9 {
		left: 75%;
	}

	.push-sm-8 {
		left: 66.66666667%;
	}

	.push-sm-7 {
		left: 58.33333333%;
	}

	.push-sm-6 {
		left: 50%;
	}

	.push-sm-5 {
		left: 41.66666667%;
	}

	.push-sm-4 {
		left: 33.33333333%;
	}

	.push-sm-3 {
		left: 25%;
	}

	.push-sm-2 {
		left: 16.66666667%;
	}

	.push-sm-1 {
		left: 8.33333333%;
	}

	.push-sm-0 {
		left: auto;
	}

	.push-sm-5\/5 {
		left: 100%;
	}

	.push-sm-4\/5 {
		left: 80%;
	}

	.push-sm-3\/5 {
		left: 60%;
	}

	.push-sm-2\/5 {
		left: 40%;
	}

	.push-sm-1\/5 {
		left: 20%;
	}

	.push-sm-0\/5 {
		left: auto;
	}

	.order-sm-first {
		order: -1 !important;
	}

	.order-sm-0 {
		order: 0 !important;
	}

	.order-sm-1 {
		order: 1 !important;
	}

	.order-sm-2 {
		order: 2 !important;
	}

	.order-sm-3 {
		order: 3 !important;
	}

	.order-sm-4 {
		order: 4 !important;
	}

	.order-sm-5 {
		order: 5 !important;
	}

	.order-sm-last {
		order: 6 !important;
	}
}

/* third device width (laptop) */
@media (min-width: 992px) {

	.wp-block-columns.row-cols-md-auto > *,
	.wp-block-column.wp-block-column.col-md-auto,
	.wp-block-column.wp-block-column.col-md {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 0 !important;
	}

	/**
	 * Core Overwrites:
	 * 
	 * (1) Do not stretch columns that have a bootstrap-width set but
	 *     are set to auto on smaller breakpoints.
	 * (2) Stretch auto-columns automatically even when they have a
	 *     fixed width (from core control) set manually.
	 */
	/* (1) */
	.wp-block-columns.row-cols-sm-auto > .wp-block-column[class*=col-md-]:not(.col-md-auto),
	.wp-block-columns > .wp-block-column.col-sm-auto[class*=col-md-]:not(.col-md-auto),
	.wp-block-columns > .wp-block-column.col-sm[class*=col-md-]:not(.col-md-auto) {
		flex-grow: 0;
	}

	/* (2) */
	.wp-block-columns.row-cols-md-auto > .wp-block-column[style*=flex-basis],
	.wp-block-columns > .wp-block-column[style*=flex-basis].col-md-auto,
	.wp-block-columns > .wp-block-column[style*=flex-basis].col-md,
	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column[style*=flex-basis]:not([class*="col-"]) {
		flex-grow: 1;
	}

	.wp-block-columns.row-cols-md-1 > *,
	.wp-block-columns.row-cols-md-2 > *,
	.wp-block-columns.row-cols-md-3 > *,
	.wp-block-columns.row-cols-md-4 > *,
	.wp-block-columns.row-cols-md-5 > *,
	.wp-block-columns.row-cols-md-6 > *,
	.wp-block-column.wp-block-column.col-md-1,
	.wp-block-column.wp-block-column.col-md-2,
	.wp-block-column.wp-block-column.col-md-3,
	.wp-block-column.wp-block-column.col-md-4,
	.wp-block-column.wp-block-column.col-md-5,
	.wp-block-column.wp-block-column.col-md-6,
	.wp-block-column.wp-block-column.col-md-7,
	.wp-block-column.wp-block-column.col-md-8,
	.wp-block-column.wp-block-column.col-md-9,
	.wp-block-column.wp-block-column.col-md-10,
	.wp-block-column.wp-block-column.col-md-11,
	.wp-block-column.wp-block-column.col-md-12,
	.wp-block-column.wp-block-column.col-md-5\/5,
	.wp-block-column.wp-block-column.col-md-4\/5,
	.wp-block-column.wp-block-column.col-md-3\/5,
	.wp-block-column.wp-block-column.col-md-2\/5,
	.wp-block-column.wp-block-column.col-md-1\/5 {
		/* flex: 0 0 auto !important; */
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto !important;
	}

	.wp-block-columns.row-cols-md-auto > * {
		width: auto !important;
	}

	.wp-block-columns.row-cols-md-1 > * {
		width: 100% !important;
	}

	.wp-block-columns.row-cols-md-2 > * {
		width: 50% !important;
	}

	.wp-block-columns.row-cols-md-3 > * {
		width: 33.3333333333% !important;
	}

	.wp-block-columns.row-cols-md-4 > * {
		width: 25% !important;
	}

	.wp-block-columns.row-cols-md-5 > * {
		width: 20% !important;
	}

	.wp-block-columns.row-cols-md-6 > * {
		width: 16.6666666667% !important;
	}

	.wp-block-column.wp-block-column.col-md-auto {
		width: auto !important;
	}

	.wp-block-column.wp-block-column.col-md-1 {
		width: 8.3333333333% !important;
	}

	.wp-block-column.wp-block-column.col-md-2 {
		width: 16.6666666667% !important;
	}

	.wp-block-column.wp-block-column.col-md-3 {
		width: 25% !important;
	}

	.wp-block-column.wp-block-column.col-md-4 {
		width: 33.3333333333% !important;
	}

	.wp-block-column.wp-block-column.col-md-5 {
		width: 41.6666666667% !important;
	}

	.wp-block-column.wp-block-column.col-md-6 {
		width: 50% !important;
	}

	.wp-block-column.wp-block-column.col-md-7 {
		width: 58.3333333333% !important;
	}

	.wp-block-column.wp-block-column.col-md-8 {
		width: 66.6666666667% !important;
	}

	.wp-block-column.wp-block-column.col-md-9 {
		width: 75% !important;
	}

	.wp-block-column.wp-block-column.col-md-10 {
		width: 83.3333333333% !important;
	}

	.wp-block-column.wp-block-column.col-md-11 {
		width: 91.6666666667% !important;
	}

	.wp-block-column.wp-block-column.col-md-12 {
		width: 100% !important;
	}

	.wp-block-column.wp-block-column.col-md-5\/5 {
		width: 100% !important;
	}

	.wp-block-column.wp-block-column.col-md-4\/5 {
		width: 80% !important;
	}

	.wp-block-column.wp-block-column.col-md-3\/5 {
		width: 60% !important;
	}

	.wp-block-column.wp-block-column.col-md-2\/5 {
		width: 40% !important;
	}

	.wp-block-column.wp-block-column.col-md-1\/5 {
		width: 20% !important;
	}

	.offset-md-0 {
		margin-left: 0 !important;
	}

	.offset-md-1 {
		margin-left: 8.3333333333% !important;
	}

	.offset-md-2 {
		margin-left: 16.6666666667% !important;
	}

	.offset-md-3 {
		margin-left: 25% !important;
	}

	.offset-md-4 {
		margin-left: 33.3333333333% !important;
	}

	.offset-md-5 {
		margin-left: 41.6666666667% !important;
	}

	.offset-md-6 {
		margin-left: 50% !important;
	}

	.offset-md-7 {
		margin-left: 58.3333333333% !important;
	}

	.offset-md-8 {
		margin-left: 66.6666666667% !important;
	}

	.offset-md-9 {
		margin-left: 75% !important;
	}

	.offset-md-10 {
		margin-left: 83.3333333333% !important;
	}

	.offset-md-11 {
		margin-left: 91.6666666667% !important;
	}

	.offset-md-5\/5 {
		margin-left: 100% !important;
	}

	.offset-md-4\/5 {
		margin-left: 80% !important;
	}

	.offset-md-3\/5 {
		margin-left: 60% !important;
	}

	.offset-md-2\/5 {
		margin-left: 40% !important;
	}

	.offset-md-1\/5 {
		margin-left: 20% !important;
	}

	.offset-md-0\/5 {
		margin-left: 0 !important;
	}

	.pull-md-12 {
		right: 100%;
	}

	.pull-md-11 {
		right: 91.66666667%;
	}

	.pull-md-10 {
		right: 83.33333333%;
	}

	.pull-md-9 {
		right: 75%;
	}

	.pull-md-8 {
		right: 66.66666667%;
	}

	.pull-md-7 {
		right: 58.33333333%;
	}

	.pull-md-6 {
		right: 50%;
	}

	.pull-md-5 {
		right: 41.66666667%;
	}

	.pull-md-4 {
		right: 33.33333333%;
	}

	.pull-md-3 {
		right: 25%;
	}

	.pull-md-2 {
		right: 16.66666667%;
	}

	.pull-md-1 {
		right: 8.33333333%;
	}

	.pull-md-0 {
		right: auto;
	}

	.pull-md-5\/5 {
		right: 100%;
	}

	.pull-md-4\/5 {
		right: 80%;
	}

	.pull-md-3\/5 {
		right: 60%;
	}

	.pull-md-2\/5 {
		right: 40%;
	}

	.pull-md-1\/5 {
		right: 20%;
	}

	.pull-md-0\/5 {
		right: auto;
	}

	.push-md-12 {
		left: 100%;
	}

	.push-md-11 {
		left: 91.66666667%;
	}

	.push-md-10 {
		left: 83.33333333%;
	}

	.push-md-9 {
		left: 75%;
	}

	.push-md-8 {
		left: 66.66666667%;
	}

	.push-md-7 {
		left: 58.33333333%;
	}

	.push-md-6 {
		left: 50%;
	}

	.push-md-5 {
		left: 41.66666667%;
	}

	.push-md-4 {
		left: 33.33333333%;
	}

	.push-md-3 {
		left: 25%;
	}

	.push-md-2 {
		left: 16.66666667%;
	}

	.push-md-1 {
		left: 8.33333333%;
	}

	.push-md-0 {
		left: auto;
	}

	.push-md-5\/5 {
		left: 100%;
	}

	.push-md-4\/5 {
		left: 80%;
	}

	.push-md-3\/5 {
		left: 60%;
	}

	.push-md-2\/5 {
		left: 40%;
	}

	.push-md-1\/5 {
		left: 20%;
	}

	.push-md-0\/5 {
		left: auto;
	}

	.order-md-first {
		order: -1 !important;
	}

	.order-md-0 {
		order: 0 !important;
	}

	.order-md-1 {
		order: 1 !important;
	}

	.order-md-2 {
		order: 2 !important;
	}

	.order-md-3 {
		order: 3 !important;
	}

	.order-md-4 {
		order: 4 !important;
	}

	.order-md-5 {
		order: 5 !important;
	}

	.order-md-last {
		order: 6 !important;
	}
}

/* fourth device width (desktop) */
@media (min-width: 1200px) {

	.wp-block-columns.row-cols-lg-auto > *,
	.wp-block-column.col-lg-auto,
	.wp-block-column.col-lg {
		flex: 1 0 0% !important;
	}

	.wp-block-columns.row-cols-lg-1 > *,
	.wp-block-columns.row-cols-lg-2 > *,
	.wp-block-columns.row-cols-lg-3 > *,
	.wp-block-columns.row-cols-lg-4 > *,
	.wp-block-columns.row-cols-lg-5 > *,
	.wp-block-columns.row-cols-lg-6 > *,
	.wp-block-column.col-lg-1 .wp-block-columns.row-cols-lg-auto > *,
	.wp-block-column.wp-block-column.col-lg-auto,
	.wp-block-column.wp-block-column.col-lg {
		/* flex: 1 0 0% !important; */
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 0 !important;
	}

	/* overwrite gutenberg desktop column grow */
	.wp-block-columns.row-cols-lg-auto > .wp-block-column[style*=flex-basis],
	.wp-block-columns > .wp-block-column[style*=flex-basis].col-lg-auto,
	.wp-block-columns > .wp-block-column[style*=flex-basis].col-lg,
	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column[style*=flex-basis]:not([class*="col-"]) {
		flex-grow: 1;
	}

	/**
	 * Core Overwrites:
	 * 
	 * (1) Do not stretch columns that have a bootstrap-width set but
	 *     are set to auto on smaller breakpoints.
	 * (2) Stretch auto-columns automatically even when they have a
	 *     fixed width (from core control) set manually.
	 */
	/* (1) */
	.wp-block-columns.row-cols-sm-auto > .wp-block-column[class*=col-lg-]:not(.col-lg-auto),
	.wp-block-columns > .wp-block-column.col-sm-auto[class*=col-lg-]:not(.col-lg-auto),
	.wp-block-columns > .wp-block-column.col-sm[class*=col-lg-]:not(.col-lg-auto),
	.wp-block-columns.row-cols-md-auto > .wp-block-column[class*=col-lg-]:not(.col-lg-auto),
	.wp-block-columns > .wp-block-column.col-md-auto[class*=col-lg-]:not(.col-lg-auto),
	.wp-block-columns > .wp-block-column.col-md[class*=col-lg-]:not(.col-lg-auto) {
		flex-grow: 0;
	}

	/* (2) */
	.wp-block-columns.row-cols-lg-auto > .wp-block-column[style*=flex-basis],
	.wp-block-columns > .wp-block-column[style*=flex-basis].col-lg-auto,
	.wp-block-columns > .wp-block-column[style*=flex-basis].col-lg {
		flex-grow: 1;
	}

	.wp-block-columns.row-cols-lg-1 > *,
	.wp-block-columns.row-cols-lg-2 > *,
	.wp-block-columns.row-cols-lg-3 > *,
	.wp-block-columns.row-cols-lg-4 > *,
	.wp-block-columns.row-cols-lg-5 > *,
	.wp-block-columns.row-cols-lg-6 > *,
	.wp-block-column.wp-block-column.col-lg-1,
	.wp-block-column.wp-block-column.col-lg-2,
	.wp-block-column.wp-block-column.col-lg-3,
	.wp-block-column.wp-block-column.col-lg-4,
	.wp-block-column.wp-block-column.col-lg-5,
	.wp-block-column.wp-block-column.col-lg-6,
	.wp-block-column.wp-block-column.col-lg-7,
	.wp-block-column.wp-block-column.col-lg-8,
	.wp-block-column.wp-block-column.col-lg-9,
	.wp-block-column.wp-block-column.col-lg-10,
	.wp-block-column.wp-block-column.col-lg-11,
	.wp-block-column.wp-block-column.col-lg-12,
	.wp-block-column.wp-block-column.col-lg-5\/5,
	.wp-block-column.wp-block-column.col-lg-4\/5,
	.wp-block-column.wp-block-column.col-lg-3\/5,
	.wp-block-column.wp-block-column.col-lg-2\/5,
	.wp-block-column.wp-block-column.col-lg-1\/5 {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto !important;
	}

	.wp-block-columns.row-cols-lg-auto > * {
		width: auto !important;
	}

	.wp-block-columns.row-cols-lg-1 > * {
		width: 100% !important;
	}

	.wp-block-columns.row-cols-lg-2 > * {
		width: 50% !important;
	}

	.wp-block-columns.row-cols-lg-3 > * {
		width: 33.3333333333% !important;
	}

	.wp-block-columns.row-cols-lg-4 > * {
		width: 25% !important;
	}

	.wp-block-columns.row-cols-lg-5 > * {
		width: 20% !important;
	}

	.wp-block-columns.row-cols-lg-6 > * {
		width: 16.6666666667% !important;
	}

	.wp-block-column.wp-block-column.col-lg-auto {
		width: auto !important;
	}

	.wp-block-column.wp-block-column.col-lg-1 {
		width: 8.3333333333% !important;
	}

	.wp-block-column.wp-block-column.col-lg-2 {
		width: 16.6666666667% !important;
	}

	.wp-block-column.wp-block-column.col-lg-3 {
		width: 25% !important;
	}

	.wp-block-column.wp-block-column.col-lg-4 {
		width: 33.3333333333% !important;
	}

	.wp-block-column.wp-block-column.col-lg-5 {
		width: 41.6666666667% !important;
	}

	.wp-block-column.wp-block-column.col-lg-6 {
		width: 50% !important;
	}

	.wp-block-column.wp-block-column.col-lg-7 {
		width: 58.3333333333% !important;
	}

	.wp-block-column.wp-block-column.col-lg-8 {
		width: 66.6666666667% !important;
	}

	.wp-block-column.wp-block-column.col-lg-9 {
		width: 75% !important;
	}

	.wp-block-column.wp-block-column.col-lg-10 {
		width: 83.3333333333% !important;
	}

	.wp-block-column.wp-block-column.col-lg-11 {
		width: 91.6666666667% !important;
	}

	.wp-block-column.wp-block-column.col-lg-12 {
		width: 100% !important;
	}

	.wp-block-column.wp-block-column.col-lg-5\/5 {
		width: 100% !important;
	}

	.wp-block-column.wp-block-column.col-lg-4\/5 {
		width: 80% !important;
	}

	.wp-block-column.wp-block-column.col-lg-3\/5 {
		width: 60% !important;
	}

	.wp-block-column.wp-block-column.col-lg-2\/5 {
		width: 40% !important;
	}

	.wp-block-column.wp-block-column.col-lg-1\/5 {
		width: 20% !important;
	}

	.offset-lg-0 {
		margin-left: 0 !important;
	}

	.offset-lg-1 {
		margin-left: 8.3333333333% !important;
	}

	.offset-lg-2 {
		margin-left: 16.6666666667% !important;
	}

	.offset-lg-3 {
		margin-left: 25% !important;
	}

	.offset-lg-4 {
		margin-left: 33.3333333333% !important;
	}

	.offset-lg-5 {
		margin-left: 41.6666666667% !important;
	}

	.offset-lg-6 {
		margin-left: 50% !important;
	}

	.offset-lg-7 {
		margin-left: 58.3333333333% !important;
	}

	.offset-lg-8 {
		margin-left: 66.6666666667% !important;
	}

	.offset-lg-9 {
		margin-left: 75% !important;
	}

	.offset-lg-10 {
		margin-left: 83.3333333333% !important;
	}

	.offset-lg-11 {
		margin-left: 91.6666666667% !important;
	}

	.offset-lg-5\/5 {
		margin-left: 100% !important;
	}

	.offset-lg-4\/5 {
		margin-left: 80% !important;
	}

	.offset-lg-3\/5 {
		margin-left: 60% !important;
	}

	.offset-lg-2\/5 {
		margin-left: 40% !important;
	}

	.offset-lg-1\/5 {
		margin-left: 20% !important;
	}

	.offset-lg-0\/5 {
		margin-left: 0 !important;
	}

	.pull-lg-12 {
		right: 100%;
	}

	.pull-lg-11 {
		right: 91.66666667%;
	}

	.pull-lg-10 {
		right: 83.33333333%;
	}

	.pull-lg-9 {
		right: 75%;
	}

	.pull-lg-8 {
		right: 66.66666667%;
	}

	.pull-lg-7 {
		right: 58.33333333%;
	}

	.pull-lg-6 {
		right: 50%;
	}

	.pull-lg-5 {
		right: 41.66666667%;
	}

	.pull-lg-4 {
		right: 33.33333333%;
	}

	.pull-lg-3 {
		right: 25%;
	}

	.pull-lg-2 {
		right: 16.66666667%;
	}

	.pull-lg-1 {
		right: 8.33333333%;
	}

	.pull-lg-0 {
		right: auto;
	}

	.pull-lg-5\/5 {
		right: 100%;
	}

	.pull-lg-4\/5 {
		right: 80%;
	}

	.pull-lg-3\/5 {
		right: 60%;
	}

	.pull-lg-2\/5 {
		right: 40%;
	}

	.pull-lg-1\/5 {
		right: 20%;
	}

	.pull-lg-0\/5 {
		right: auto;
	}

	.push-lg-12 {
		left: 100%;
	}

	.push-lg-11 {
		left: 91.66666667%;
	}

	.push-lg-10 {
		left: 83.33333333%;
	}

	.push-lg-9 {
		left: 75%;
	}

	.push-lg-8 {
		left: 66.66666667%;
	}

	.push-lg-7 {
		left: 58.33333333%;
	}

	.push-lg-6 {
		left: 50%;
	}

	.push-lg-5 {
		left: 41.66666667%;
	}

	.push-lg-4 {
		left: 33.33333333%;
	}

	.push-lg-3 {
		left: 25%;
	}

	.push-lg-2 {
		left: 16.66666667%;
	}

	.push-lg-1 {
		left: 8.33333333%;
	}

	.push-lg-0 {
		left: auto;
	}

	.push-lg-5\/5 {
		left: 100%;
	}

	.push-lg-4\/5 {
		left: 80%;
	}

	.push-lg-3\/5 {
		left: 60%;
	}

	.push-lg-2\/5 {
		left: 40%;
	}

	.push-lg-1\/5 {
		left: 20%;
	}

	.push-lg-0\/5 {
		left: auto;
	}

	.order-lg-first {
		order: -1 !important;
	}

	.order-lg-0 {
		order: 0 !important;
	}

	.order-lg-1 {
		order: 1 !important;
	}

	.order-lg-2 {
		order: 2 !important;
	}

	.order-lg-3 {
		order: 3 !important;
	}

	.order-lg-4 {
		order: 4 !important;
	}

	.order-lg-5 {
		order: 5 !important;
	}

	.order-lg-last {
		order: 6 !important;
	}
}