/*
----------------------------------------------------------

					License Styles

----------------------------------------------------------
*/

form.greyd_settings_license input[type="text"],
form.greyd_settings_license select {
	display: block;
	width: 100%;
	margin: 0 0 10px;
}

form.greyd_settings_license input[type="text"].large,
form.greyd_settings_license select.large {
	padding: 6px 0px 6px 12px;
}

/* Info Text */
.settings_wrap .info_text {
	display: block;
	font-style: italic;
	line-height: 145%;
	color: #868A8F;
	/* light gray */
}

/* States */
.settings_wrap #states .state {
	display: none;
}

#states.empty .state.empty,
#states.loading .state.loading,
#states.is_valid .state.is_valid,
#states.not_found .state.not_found,
#states.invalid .state.invalid,
#states.limit_open .state.limit_open,
#states.limit_reached .state.limit_reached,
#states.limit_open_monthly .state.limit_open_monthly,
#states.limit_reached_monthly .state.limit_reached_monthly,
#states.version_invalid .state.version_invalid,
#states._error .state._error {
	display: block;
}

/* Policies */
.greyd_policy_Basic,
.greyd_policy_Bundle,
.greyd_policy_Corporate,
.greyd_policy_Agency,
.greyd_policy_Freelancer {
	display: none;
}

.license_infos[data-policy="Basic"] .greyd_policy_Basic,
.license_infos[data-policy="Bundle"] .greyd_policy_Bundle,
.license_infos[data-policy="Corporate"] .greyd_policy_Corporate,
.license_infos[data-policy="Agency"] .greyd_policy_Agency,
.license_infos[data-policy="Freelancer"] .greyd_policy_Freelancer {
	display: block;
}

.license_infos[data-policy="Basic"] tr.greyd_policy_Basic,
.license_infos[data-policy="Bundle"] tr.greyd_policy_Bundle,
.license_infos[data-policy="Corporate"] tr.greyd_policy_Corporate,
.license_infos[data-policy="Agency"] tr.greyd_policy_Agency,
.license_infos[data-policy="Freelancer"] tr.greyd_policy_Freelancer {
	display: table-row;
}

.license_infos[data-policy="Basic"] td.greyd_policy_Basic,
.license_infos[data-policy="Bundle"] td.greyd_policy_Bundle,
.license_infos[data-policy="Corporate"] td.greyd_policy_Corporate,
.license_infos[data-policy="Agency"] td.greyd_policy_Agency,
.license_infos[data-policy="Freelancer"] td.greyd_policy_Freelancer {
	display: table-cell;
}

/* Info Tables */
.license_infos h4 {
	margin: 1.5em 0 1em;
}

.license_infos.license_meta .greyd_table.vertical td {
	min-width: 100px;
}

.license_infos.domain_infos .greyd_table td {
	padding-top: 8px;
	padding-bottom: 8px;
}

/* Highlight current domain */
.greyd_active_domain.current .greyd_active_domain_name {
	position: relative;
	color: #0085ba;
}

.greyd_active_domain.current .greyd_active_domain_name::before {
	content: "●";
	display: inline-block;
	vertical-align: middle;
	font-size: 6px;
	height: 1em;
	width: 1em;
	line-height: 1em;
	margin-left: -1.5em;
	margin-right: .5em;
}

/* Notice */
.license_infos table .greyd_info_box {
	padding: 4px 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* Loader next to License-Input */
.settings_wrap .input_wrapper {
	position: relative;
	margin: 2px 0 10px;
}

.settings_wrap .input_wrapper input[type="text"],
.settings_wrap .input_wrapper select {
	margin: 0;
}

.settings_wrap .input_wrapper.loading .loader {
	position: absolute;
	right: -30px;
	top: 6px;
}

.license_infos .greyd_popup_wrapper {
	position: absolute;
	top: 10px;
	right: 10px;
}

/* Submit Button */
form.greyd_settings_license #submit.right {
	margin: -20px 10px 0 0;
}